<section id="hero">
  <div class="container">
      <h1 class="text-width text-center text-white"><span><%= t('.guest_main_txt') %></span></h1>
  </div>
</section>
<section id="preguntas">
  <div class="container text-center text-width">
    <h3 class="text-white"><%= t('.ask_1') %></h3>
    <h3 class="text-white"><%= t('.ask_2') %></h3>
    <h3 class="text-white"><%= t('.ask_3') %></h3>
    <h3 class="text-white"><%= t('.ask_4') %></h3>
    <h3 class="text-white"><%= t('.ask_5') %></h3>
  </div>
</section>
<section id="metodologia">
  <div class="container">
    <h2 class="text-white text-center"><%= t('.methodology_title') %></h2>
    <div class="row">
      <div class="col-md-2 text-center arrow"><%= image_tag "m02.svg", class: "", alt: t('.methodology_step_1') %>
        <p class="text-white"><%= t('.methodology_step_1') %></p>
      </div>
      <div class="col-md-2 text-center arrow"><%= image_tag "m03.svg", class: "", alt: t('.methodology_step_2') %>
      <p class="text-white"><%= t('.methodology_step_2') %></p>
      </div>
      <div class="col-md-2 text-center arrow"><%= image_tag "m04.svg", class: "", alt: t('.methodology_step_3') %>
      <p class="text-white"><%= t('.methodology_step_3') %></p>
      </div>
      <div class="col-md-2 text-center arrow"><%= image_tag "m05.svg", class: "", alt: t('.methodology_step_4') %>
      <p class="text-white"><%= t('.methodology_step_4') %></p>
      </div>
      <div class="col-md-2 text-center arrow"><%= image_tag "m06.svg", class: "", alt: t('.methodology_step_5') %>
      <p class="text-white"><%= t('.methodology_step_5') %></p>
      </div>
      <div class="col-md-2 text-center arrow"><%= image_tag "m07.svg", class: "", alt: t('.methodology_step_6') %>
      <p class="text-white"><%= t('.methodology_step_6') %></p>
      </div>
    </div>
  </div>
</section>
</div>
<div class="testimonial" id="testimonios">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2><%= t('.testimony') %></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <%= image_tag "t6.png", class: "img-circle" %>
        <p class="cita text-center"><%= t('.testimony1_cite') %></p>
        <p><%= t('.testimony3_txt') %></p>
        <p class="persona"><%= t('.testimony3_signer') %></p>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <%= image_tag "t4.png", class: "img-circle" %>
        <p class="cita text-center"><%= t('.testimony2_cite') %></p>
        <p class=""><%= t('.testimony1_txt') %></p>
        <p class="persona"><%= t('.testimony1_signer') %></p>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <%= image_tag "t5.jpg", class: "img-circle" %>
        <p class="cita text-center"><%= t('.testimony3_cite') %></p>
        <p class=""><%= t('.testimony2_txt') %></p>
        <p class="persona"><%= t('.testimony2_signer') %></p>
      </div>
    </div>
  </div>
</div>
<div class="organizations" id="usanestratega">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-white"><%= t('.title_orgs') %></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <a href="//www.techo.org/paises/chile/" target="_blank"><%= image_tag "logo-techo.svg", class: "logos", alt: "Logo TECHO" %></a>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <a href="//www.hogardecristo.cl/" target="_blank"><%= image_tag "logo-hogar.svg", class: "logos", alt: "Logo Hogar de Cristo" %></a>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <a href="//ciudadanointeligente.org/" target="_blank"><%= image_tag "logo-fci.svg", class: "logos", alt: "Logo Fundación Ciudadano Inteligente" %></a>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
         <a href="//bordepolitico.com/" target="_blank"><img class="logos" src="/assets/logo-borde.svg" alt="Logo Borde Político"></a>
       </div>
    </div>
  </div>
</div>
