<% content_for :top do %>
  <% if( !user_signed_in? ) %>
    <div class="row banner">
      <div class="container">
        <div class="col-md-6 mtb40">
          <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</h2>
        </div>
        <div class="col-md-4 col-md-offset-2 mtb40">
          <h3>Sign up</h3>
          <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
            <% flash.each do |name, msg| %>
              <%= content_tag :div, msg, class: 'error' if msg.is_a?(String) %>
            <% end %>
            <div class="form-group">
              <%= f.email_field :email, required: true, class: "form-control", placeholder: "Email" %>
            </div>
            <div class="form-group">
              <%= f.password_field :password, required: true, class: "form-control", placeholder: "Password" %>
            </div>
            <div class="form-group">
              <%= f.password_field :password_confirmation, required: true, class: "form-control", placeholder: "Confirm Password" %>
            </div>
            <div class="text-right">
              <%= f.submit "Start now!", class: "btn btn-danger" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
<div class="benefits">
  <div class="container">
    <div class="row mb50">
      <div class="col-md-12">
        <h2>Benefits</h2>
      </div>
    </div>
    <div class="row mb50">
      <div class="col-md-3">
        <p><%= image_tag "1.png" %></p>
        <p>Effective use for your resources</p>
      </div>
      <div class="col-md-3 ">
        <p><%= image_tag "2.png" %></p>
        <p>Minimize risks and maximize opportunities</p>
      </div>
      <div class="col-md-3">
        <p><%= image_tag "3.png" %></p>
        <p>Align advocacy width other areas and organization goals, both long and short term</p>
      </div>
      <div class="col-md-3">
        <p><%= image_tag "4.png" %></p>
        <p>Keep track and evaluate your performance</p>
      </div>
    </div>
    <div class="row text_right">
      <a class="btn btn-danger" href="#" role="button">Demo</a> <a class="btn btn-default" href="#" role="button">I want to read more about it</a>
    </div>
  </div>
</div>
<div class="testimonial">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <table>
          <tr>
            <td>
              <%= image_tag "t1.png" %>
            </td>
            <td class="text-right">
              <p class="cita">Align advocacy width other areas and organization goals, both long and short term</p>
              <p>UNICEF Ambassador Matt Dawson</p>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="t2">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <table>
          <tr>
            <td>
              <p class="cita">“Align advocacy width other areas and organization goals, both long and short term”</p>
              <p>Unicef Goodwill Ambassador Angélique Kidjo</p></td>
            <td>
              <%= image_tag "t2.png" %>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <table>
          <tr>
            <td>
              <%= image_tag "t3.png" %>
            </td>
            <td class="text-right">
              <p class="cita">Align advocacy width other areas and organization goals, both long and short term</p>
              <p>UNICEF Ambassador Matt Dawson</p>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
