<h1>Listing asks</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Activity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @asks.each do |ask| %>
      <tr>
        <td><%= ask.title %></td>
        <td><%= ask.description %></td>
        <td><%= ask.activity %></td>
        <td><%= link_to 'Show', [@activity, ask] %></td>
        <td><%= link_to 'Edit', edit_activity_ask_path(@activity, ask) %></td>
        <td><%= link_to 'Destroy', [@activity, ask], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ask', new_activity_ask_path %>
