<script type="text/ng-template" id="actor-aside.html">
  <div class="modal-header">
    <h3 class="modal-title"><%= t('.actor') %></h3>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="actor_type"><%= t('.actor_type') %></label>
        <select name="actor_type" ng-model="current_actor.actor_type" class="form-control">
          <option value="" disabled selected> <%= t('.actor_type_placeholder') %></option>
          <option ng-repeat="type in actor_type">{{ type }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="title"><%= t('.name') %></label>
        <input type="text" name="name" class="form-control" ng-model="current_actor.name" placeholder="<%= t('.name_placeholder') %>">
      </div>
      <div class="form-group">
        <label for="description"><%= t('.description') %></label>
        <textarea name="description" class="form-control" ng-model="current_actor.description" placeholder="<%= t('.description_placeholder') %>"></textarea>
      </div>
      <div class="form-group">
        <label for="important"><%= t('.important') %></label>
        <input type="checkbox" name="important" class="form-control" ng-model="current_actor.important"></input>
      </div>
      <div class="form-group">
        <label for="support"><%= t('.support') %></label>
        <select name="support" ng-model="current_actor.support" class="form-control">
          <option value="" disabled selected> <%= t('.support_placeholder') %></option>
          <option ng-selected="{{ current_actor.support == value }}" ng-repeat="(name, value) in support" value="{{ value }}">{{ name }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="influence"><%= t('.influence_level') %></label>
        <select name="influence" ng-model="current_actor.influence" class="form-control">
          <option value="" disabled selected> <%= t('.influence_level_placeholder') %></option>
          <option ng-selected="{{ current_actor.influence == value }}" ng-repeat="(name, value) in influence" value="{{ value }}">{{ name }}</option>
        </select>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="save($event)" ng-class="{disabled: current_actor.name == '' }"><%= t('.save_button') %></button>
    <button class="btn btn-warning" ng-click="cancel($event)"><%= t('.cancel_button') %></button>
  </div>
</script>
