<h3><%= t('.title') %></h3>
<hr>
<h4><%= t('.subtitle1') %></h4>
<%= t('.subtitle1_explanation').html_safe %>
<table class="table table-bordered">
  <%= t('.outcomes_table_content').html_safe %>
</table>

<%= t('.after_outcomes_table_description').html_safe %>

<h3><%= t('.example') %></h3>
<hr>
<h4><%= t('.activities') %></h4>

<table class="table table-bordered">
  <%= t('.interim_outcome_table_content').html_safe %>
</table>

<table class="table table-bordered">
  <%= t('.months_table_content').html_safe %>
</table>
<%= t('.after_months_table_description').html_safe %>
