<h3><%= t('.title') %></h3>
<%= t('.explanation_part1').html_safe %>
<table class="table table-bordered">
  <%= t('.table_content').html_safe %>
</table>
<%= t('.table_content_source').html_safe %>
<%= t('.explanation_part2').html_safe %>
<%= t('.example').html_safe %>
