<h3><%= t('.explanation') %></h3>
<hr>
<h4><%= t('.title1') %></h4>
<%= t('.title1_description').html_safe %>
<h4><%= t('.title2') %></h4>
<%= t('.title2_description').html_safe %>
<h4><%= t('.title3') %></h4>
<%= t('.title3_description').html_safe %>
<h3><%= t('.example') %></h3>
<hr>
<h4><%= t('.real_world_problem') %></h4>
<%= t('.real_world_problem_description').html_safe %>
<h4><%= t('.policy_solutions') %></h4>
<%= t('.policy_solutions_description').html_safe %>
