<h3><%= t('.title') %></h3>
<hr>
<h4><%= t('.subtitle1') %></h4>
<%= t('.subtitle1_explanation').html_safe %>
<h3><%= t('.example') %></h3>
<hr>
<table class="table table-bordered">
  <%= t('.actors_ask_table_content').html_safe %>
</table>