<script type="text/ng-template" id="enabling-factor-aside.html">
  <div class="modal-header">
    <h3 class="modal-title"><%= t('.enabling_factor') %></h3>
  </div>
  <div class="modal-body">
    <form id="factor_form">
      <div class="form-group">
        <!-- <label for="title"><%= t('.description') %></label> -->
        <!-- <input type="text" name="description" class="form-control" ng-model="current_enabling_factor" placeholder="<%= t('.description_placeholder') %>"> -->
        <textarea name="description" id="desc_area" form="factor_form" cols="30" rows="10" class="form-control" ng-model="current_enabling_factor" placeholder="<%= t('.description_placeholder') %>">
          {{current_enabling_factor}}
        </textarea>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="save($event)" ng-class="{disabled: current_enabling_factor == ''}"><%= t('.save_button') %></button>
    <button class="btn btn-warning" ng-click="cancel($event)"><%= t('.cancel_button') %></button>
  </div>
</script>
