<%= simple_form_for([@project, @objective]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description %>
	  <%= f.association :solutions, as: :select %>
    <%= f.input :prioritized %>
    <%= f.input :completion_mark %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
