<script type="text/ng-template" id="activities-aside.html">
  <div class="modal-header">
    <h3 class="modal-title"><%= t('.activities') %></h3>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="title"><%= t('.title') %></label>
      <input name="title" class="form-control" ng-model="current_activity.title" placeholder="<%= t('.title_placeholder') %>">
    </div>
    <div class="form-group">
      <label for="description"><%= t('.description') %></label>
      <textarea name="description" class="form-control" ng-model="current_activity.description" placeholder="<%= t('.description_placeholder') %>"></textarea>
    </div>
    <div class="form-group">
      <label for="completion"><%= t('.completion') %></label>
      <input type="checkbox" name="completion" class="form-control" ng-model="current_activity.completion"></input>
    </div>
    <div class="form-group">
      <label for="organizer"><%= t('.organizer') %></label>
      <select class="form-control" name="organizer" ng-model="current_activity.organizer">
        <option ng-repeat="o in organizer">{{o}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="activity_types"><%= t('.activity_types') %></label>
      <select class="form-control" name="activity_types" ng-model="current_activity.activity_types">
        <optgroup ng-repeat="at in activity_types" label="{{at.type}}">
          {{at.type}}
          <option ng-repeat="o in at.values">{{o}}</option>
        </optgroup>
      </select>
    </div>
    <div class="form-group">
      <label for="scheduling"><%= t('.scheduling') %> (current: {{current_activity.scheduling | date:'MM/dd/yyyy'}})</label>
      <input type="date" name="scheduling" class="form-control" ng-model="current_activity.scheduling" value="{{current_activity.scheduling}}"></input>
    </div>
    <div class="form-group">
      <label for="outcome"><%= t('.outcome') %></label>
      <select class="form-control" name="outcome_ids" multiple="multiple" ng-multiple="true" ng-model="current_activity.outcome_ids" ng-options="outcome.id as outcome.description for outcome in outcomes">
      </select>
    </div>
    <div class="form-group">
      <label for="ask">Ask</label>
      <select class="form-control" name="ask_ids" multiple="multiple" ng-multiple="true" ng-model="current_activity.ask_ids" ng-options="ask.id as ask.description for ask in asks">
      </select>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" ng-click="save($event)" ng-class="{disabled: current_activity.title == ''}"><%= t('.save_button') %></button>
      <button class="btn btn-warning" ng-click="cancel($event)"><%= t('.cancel_button') %></button>
    </div>
  </div>
</script>
