<script type="text/ng-template" id="activities-aside.html">
  <div class="modal-header">
    <h3 class="modal-title"><%= t('.activities') %></h3>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="description"><%= t('.description') %></label>
      <textarea name="description" class="form-control" ng-model="current_activity.description" placeholder="<%= t('.description_placeholder') %>"></textarea>
    </div>
    <div class="form-group">
      <label for="activity_types"><%= t('.activity_types') %></label>
      <select class="form-control" name="activity_types" ng-model="current_activity.activity_types">
        <optgroup ng-repeat="at in activity_types" label="{{at.type}}">
          {{at.type}}
          <option ng-repeat="o in at.values">{{o}}</option>
        </optgroup>
      </select>
    </div>
    <div class="form-group">
      <label for="actors"><%= t('.actors') %></label>
      <select name="actor_ids" multiple="multiple" ng-multiple="true" ng-options="actor.id as actor.name for actor in actors" ng-model="current_activity.actor_ids" class="form-control"></select>
    </div>
    <div class="form-group">
      <label for="start_date"><%= t('.start_date') %> (Elegida: {{current_activity.start_date | date:'dd/MM/yyyy'}})</label>
      <input type="date" name="start_date" class="form-control" ng-model="current_activity.start_date" placeholder="2000/12/24" min="1900-01-01"></input>
    </div>
    <div class="form-group">
      <label for="end_date"><%= t('.end_date') %> (Elegida: {{current_activity.end_date | date:'dd/MM/yyyy'}})</label>
      <input type="date" name="end_date" class="form-control" ng-model="current_activity.end_date" placeholder="2000/12/24" min="1900-01-01"></input>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" ng-click="save($event)" ng-class="{disabled: current_activity.title == ''}"><%= t('.save_button') %></button>
      <button class="btn btn-warning" ng-click="cancel($event)"><%= t('.cancel_button') %></button>
    </div>
  </div>
</script>
