<% content_for :breadcrumb do %>
  <div class="breadcrumb_bg">
    <ol class="breadcrumb container">
      <li>
        <%= link_to t('.projects'), projects_path, target: "_self" %>
      </li>
      <li><%= link_to truncate(@project.title, length: 30), @project, target: "_self" %></li>
      <li><%= t('.stage5') %></li>
    </ol>
  </div>
<% end %>

<div class="container main">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-controller="stage5Ctrl">
      <div class="alert" role="alert" ng-class="messages.response?'alert-success':'alert-danger'" ng-if="messages.message">
        <button ng-click="dismiss_modal()" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{ messages.message }}
      </div>
      <h2><%= t('.title') %></h2>
      <p><%= t('.title_description') %></p>
      <div role="tabpanel" class="tabpanel">
        <!-- nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#data" aria-controls="data" role="tab" data-toggle="tab"><%= t('.data_entry') %></a></li>
          <li role="presentation"><a href="#explanation" aria-controls="explanation" role="tab" data-toggle="tab"><%= t('.explanation_examples') %></a></li>
        </ul>
        <!-- tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="data">
        <!-- actions -->
            <!-- activities -->
            <div class="bg_grey" ng-controller="stage5Ctrl">
              <button type="button" class="btn btn-primary pull-right" data-toggle="tooltip" data-placement="left" title="<%= t('.without_activities') %>"><i class="fa fa-info"></i></button>
              <button type="button" class="btn btn-warning pull-right" ng-click="add_edit_activity()"><i class="fa fa-plus-circle"></i> <%= t('.add_button') %></button>
              <h4><i class="fa fa-circle"></i> <%= t('.subtitle1') %></h4>
            </div>
            <div class="contenedor" ng-controller="stage5Ctrl">
              <table class="table">
                <thead>
                  <tr>
                    <th><%= t('.activities') %></th>
                    <th><%= t('.description') %></th>
                    <th><%= t('.outcomes') %></th>
                    <th class="text-right"><%= t('.actions') %></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="activity in activities">
                    <td>{{activity.title}}</td>
                    <td>{{activity.description}}</td>
                    <td>{{activity.outcome_ids}}</td>
                    <td class="text-right">
                      <i class="fa fa-pencil-square-o" ng-click="add_edit_activity(activity)" title="Edit"></i>
                      <i class="fa fa-trash" ng-click="delete_activity(activity)" title="Delete"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
              <%= render 'modal_activity' %>
            </div>
            <!-- end of actions -->
          <div class="bg_grey">
            <button type="button" class="btn btn-primary pull-right" data-toggle="tooltip" data-placement="left" title="<%= t('.subtitle2_explanation') %>"><i class="fa fa-info"></i></button>
            <a href="#" target="_self" class="btn btn-warning pull-right"><i class="fa fa-calendar"></i> <%= t('.trello') %></a>
            <h4><i class="fa fa-circle"></i>  <%= t('.subtitle2') %></h4>
          </div>
          </div>
          <!-- end of actions -->
          <div role="tabpanel" class="tab-pane" id="explanation">
          <%= render 'explanation_stage5' %>
          </div>
          <div role="tabpanel" class="tab-pane" id="tips">
            tips
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
