<% content_for :breadcrumb do %>
  <div class="breadcrumb_bg">
    <ol class="breadcrumb container">
      <li>
        <%= link_to t('.projects'), projects_path, target: "_self" %>
      </li>
      <li><%= link_to truncate(@project.title, length: 30), @project, target: "_self" %></li>
      <li><%= t('.stage6') %></li>
    </ol>
  </div>
<% end %>

<div class="container main">
  <div class="row">
    <div id="main_alerts" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-controller="stage6Ctrl" data-errorgettingactors="<%= t('.error_getting_actors') %>" data-errorgettingasks="<%= t('.error_getting_asks') %>" data-errorupdatingask="<%= t('.error_updating_ask') %>" data-errorcreatingask="<%= t('.error_creating_ask') %>" data-confirmdeleteask="<%= t('.confirm_delete_ask') %>">
      <div class="alert" role="alert" ng-class="messages.response?'alert-success':'alert-danger'" ng-if="messages.message">
        <button ng-click="dismiss_modal()" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{ messages.message }}
      </div>

      <div role="tabpanel" class="tabpanel">
        <!-- nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#data" aria-controls="data" role="tab" data-toggle="tab"><%= t('.data_entry') %></a></li>
          <li role="presentation"><a href="#explanation" aria-controls="explanation" role="tab" data-toggle="tab"><%= t('.explanation_examples') %></a></li>
        </ul>
        <!-- tab panel -->
        <div class="tab-content">
          <div class="project-hero">
            <h2><%= t('.title') %></h2>
            <p><%= t('.title_description') %></p>
          </div>
          <div role="tabpanel" class="tab-pane active" id="data">
        <!-- actions -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <button type="button" class="btn btn-primary pull-right" data-toggle="tooltip" data-placement="left" title="<%= t('.subtitle1_explanation') %>"><i class="fa fa-info"></i></button>
              <button type="button" class="btn btn-warning  pull-right" ng-click="add_edit_ask()"><i class="fa fa-plus-circle"></i> <%= t('.add_button') %></button>
              <h4 class="panel-title"><%= t('.subtitle1') %></h4>
            </div>
          </div>
          <div class="contenedor">

            <!-- asks -->
            <div class="panel panel-info" ng-repeat="ask in asks">
              <div class="panel-heading">
                <button type="button" class="btn btn-warning pull-right" ng-click="delete_ask(ask)"><i class="fa fa-trash"></i></button>
                <button type="button" class="btn btn-warning pull-right" ng-click="add_edit_ask(ask)"><i class="fa fa-pencil"></i></button>
                <button type="button" class="btn btn-warning pull-right" ng-click="add_edit_indicator(ask)"><i class="fa fa-line-chart"></i></button>
                <h4 class="panel-title">{{ ask.description }}</h4>
              </div>
                <div class="collapse in">
                  <button type="button" class="btn btn-primary pull-right" onmouseenter="$(this).tooltip('show')" data-toggle="tooltip" data-placement="left" data-title="<%= t('.subtitle2_explanation') %>"><i class="fa fa-info"></i></button>
                    <button type="button" class="btn btn-warning pull-right" ng-click="add_edit_msj(ask)"><i class="fa fa-plus-circle"></i> <%= t('.add_button') %></button>
                  <h4><%= t('.subtitle2') %></h4>
                <div>
                  <table class="table compuesta">
                    <thead>
                      <tr>
                        <th></th>
                        <th><%= t('.date') %></th>
                        <th><%= t('.actors') %></th>
                        <th class="text-right"><%= t('.actions') %></th>
                      </tr>
                    </thead>
                    <tbody ng-repeat="m in ask.messages track by $index">
                      <tr>
                        <td width="5%">
                          <i class="fa" ng-class="{'fa-check': m.executed}" title="Entregado"></i>
                        </td>
                        <td>{{m.created_at | date:'dd/MM/yyyy'}}</td>
                        <td width="30%">
                          {{m.actor.name}}
                        </td>
                        <td class="text-right">
                          <i class="fa fa-pencil-square-o" ng-click="add_edit_msj(ask, m)" title="<%= t('.edit') %>"></i>
                          <i class="fa fa-trash" ng-click="delete_msj(ask, m)" title="<%= t('.delete') %>"></i>
                        </td>
                       </tr>
                       <tr>
                        <td> </td>
                        <td colspan="5">{{m.description}}</td>
                      </tr>
                    </tbody>
                  </table>
                 </div> 
                </div>
            </div>
            <!-- end asks -->
          </div>
          <%= render "asks_modal" %>
          <%= render "msj_modal" %>
          <%= render "objectives/modal_indicator" %>
          </div>
          <!-- end of actions -->
          <div role="tabpanel" class="tab-pane" id="explanation">
          <div class="box">
            <%= render 'explanation_stage6' %>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
