<% content_for :breadcrumb do %>
  <div class="breadcrumb_bg">
    <ol class="breadcrumb container">
      <li>
        <%= link_to t('.projects'), projects_path, target: "_self" %>
      </li>
      <li><%= link_to truncate(@project.title, length: 30), @project, target: "_self" %></li>
      <li><%= t('.stage4') %></li>
    </ol>
  </div>
<% end %>

<div class="container main">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-controller="stage4Ctrl">
      <div class="alert" role="alert" ng-class="messages.response?'alert-success':'alert-danger'" ng-if="messages.message">
        <button ng-click="dismiss_modal()" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{ messages.message }}
      </div>
      <h2><%= t('.subtitle1') %></h2>
      <p><%= t('.subtitle1_explanation') %></p>
      <div role="tabpanel" class="tabpanel">
        <!-- nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#data" aria-controls="data" role="tab" data-toggle="tab"><%= t('.data_entry') %></a></li>
          <li role="presentation"><a href="#explanation" aria-controls="explanation" role="tab" data-toggle="tab"><%= t('.explanation_examples') %></a></li>
        </ul>
        <!-- tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="data">
            <div class="bg_grey">
              <button type="button" class="btn btn-primary pull-right" data-toggle="tooltip" data-placement="left" title="<%= t('.subtitle1_tooltip') %>"><i class="fa fa-info"></i></button>
              <button type="button" class="btn btn-warning pull-right" ng-click="add_edit_outcome()"><i class="fa fa-plus-circle"></i> <%= t('.add_button') %></button>
              <h4><i class="fa fa-circle"></i> <%= t('.subtitle1') %></h4>
            </div>
            <div class="contenedor">
              <table class="table">
                <thead>
                  <tr>
                    <th><%= t('.interim_outcome') %></th>
                    <th><%= t('.interim_outcome_type') %></th>
                    <th><%= t('.actor_type') %></th>
                    <th><%= t('.activities_number') %></th>
                    <th class="text-right"><%= t('.actions') %></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="outcome in outcomes">
                    <td>{{outcome.description}}</td>
                    <td>{{outcome.outcome_type_id}}</td>
                    <td>{{outcome.actor_type_id}}</td>
                    <td></td>
                    <td class="text-right"><a href="#" title="Edit" ng-click="add_edit_outcome(outcome)"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete" ng-click="delete_outcome(outcome)"><i class="fa fa-trash"></i></a></td>
                  </tr>
                </tbody>
              </table>
              <nav>
                <!-- <ul class="pagination">
                  <li>
                      <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                  </li>
                  <li><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li>
                      <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                  </li>
                </ul> -->
              </nav>
            </div>
            <%= render "outcome_modal" %>
          </div>
          <div role="tabpanel" class="tab-pane" id="explanation">
            <%= render "explanation_stage4" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
