<% content_for :breadcrumb do %>
  <div class="breadcrumb_bg">
    <ol class="breadcrumb container">
      <li>
        <%= link_to t('.projects'), projects_path, target: "_self" %>
      </li>
      <li><%= link_to truncate(@project.title, length: 30), @project, target: "_self" %></li>
      <li><%= t('.stage3') %></li>
    </ol>
  </div>
<% end %>

<div class="container main">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-controller="stage3Ctrl">
      <div class="alert" role="alert" ng-class="messages.response?'alert-success':'alert-danger'" ng-if="messages.message">
        <button ng-click="dismiss_modal()" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{ messages.message }}
      </div>
      <h2><%= t('.title') %></h2>
      <p><%= t('.title_description') %></p>

      <div role="tabpanel" class="tabpanel">
        <!-- nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#data" aria-controls="data" role="tab" data-toggle="tab"><%= t('.data_entry') %></a></li>
          <li role="presentation"><a href="#explanation" aria-controls="explanation" role="tab" data-toggle="tab"><%= t('.explanation_examples') %></a></li>
        </ul>
        <!-- tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="data">
            <div class="bg_grey">
                <button type="button" class="btn btn-primary pull-right" data-toggle="tooltip" data-placement="left" data-title="<%= t('.subtitle1_explanation') %>"><i class="fa fa-info"></i></button>
              <a href="/sandboxes/new" target="_blank" class="btn btn-warning pull-right"><i class="fa fa-sitemap"></i> <%= t('.draw_sandbox_button') %></a>
              <h4><i class="fa fa-circle"></i> <%= t('.subtitle1') %></h4>
            </div>
            <div class="bg_grey">
              <button type="button" class="btn btn-primary pull-right" data-toggle="tooltip" data-placement="left" data-title="<%= t('.subtitle2_explanation') %>"><i class="fa fa-info"></i></button>
              <button type="button" class="btn btn-warning pull-right" ng-click="add_edit_actor()"><i class="fa fa-user"></i> <%= t('.add_actor_button') %></button>
              <h4 id="actors"><i class="fa fa-circle"></i> <%= t('.subtitle2') %></h4>
            </div>
            <div class="contenedor">
              <table class="table">
                  <tr>
                    <th class="text-center"><%= t('.important') %></th>
                    <th><%= t('.name') %></th>
                    <th><%= t('.actor_type') %></th>
                    <th><%= t('.support') %></th>
                    <th><%= t('.influence') %></th>
                    <th class="text-center"><%= t('.actions') %></th>
                  </tr>
                  <tr ng-repeat="actor in actors">
                    <td class="text-center"><a href=""><i class="fa fa-star" ng-if="actor.important"></i></a></td>
                    <td>{{ actor.name }}</td>
                    <td>{{ actor.actor_type }}</td>
                    <td>{{ get_support_name (actor.support) }}</td>
                    <td>{{ get_influence_name (actor.influence) }}</td>
                    <td class="text-center"><a href="#" title="Edit" ng-click="add_edit_actor(actor)"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete" ng-click="delete_actor(actor)"><i class="fa fa-trash"></i></a></td>
                  </tr>
                </table>
            </div>
            <div class="bg_grey" id="factors-barriers">
              <button type="button" class="btn btn-primary pull-right" data-toggle="tooltip" data-placement="left" title="<%= t('.subtitle3_tooltip') %>"><i class="fa fa-info"></i></button>
              <button type="button" class="btn btn-warning pull-right" ng-click="add_edit_enabling_factor()"><i class="fa fa-plus-circle"></i> <%= t('.add_enabling_factor_button') %></button>
              <button type="button" class="btn btn-warning pull-right" ng-click="add_edit_barrier()"><i class="fa fa-plus-circle"></i> <%= t('.add_barrier_button') %></button>
              <h4><i class="fa fa-circle"></i> <%= t('.subtitle3') %></h4>
            </div>
          <div class="contenedor">
            <div class="panel panel-default">
              <div class="panel-heading table_goals">
                <a data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample"><%= t('.barriers') %></a>
              </div>
              <div class="collapse steps in">
                <table class="table">
                  <tr>
                    <th><%= t('.description') %></th>
                    <th class="text-right"><%= t('.actions') %></th>
                  </tr>
                  <tr ng-repeat="barrier in objective.barriers">
                    <td>{{barrier}}</td>
                    <td class="text-right"><a href="#" title="Edit" ng-click="add_edit_barrier(barrier)"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete" ng-click="delete_barrier(barrier)"><i class="fa fa-trash"></i></a></td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading table_goals">
                <a data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample"><%= t('.enabling_factors') %></a>
              </div>
              <div class="collapse steps in">
                <table class="table">
                  <thead>
                    <tr>
                      <th><%= t('.description') %></th>
                      <th class="text-right"><%= t('.actions') %></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="enabling_factor in objective.enabling_factors">
                      <td>{{enabling_factor}}</td>
                      <td class="text-right"><a href="#" title="Edit" ng-click="add_edit_enabling_factor(enabling_factor)"><i class="fa fa-pencil-square-o"></i></a> <a href="#" title="Delete" ng-click="delete_enabling_factor(enabling_factor)"><i class="fa fa-trash"></i></a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <%= render "actors_modal" %>
            <%= render "factors_modal" %>
            <%= render "barriers_modal" %>
          </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="explanation">
            <%= render "explanation_stage3" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
