<% content_for :breadcrumb do %>
  <div class="breadcrumb_bg">
    <ol class="breadcrumb container">
      <li>
        <%= link_to t('.projects'), projects_path, target: "_self" %>
      </li>
      <li><%= link_to truncate(@project.title, length: 30), @project, target: "_self" %></li>
      <li><%= t('.stage5') %></li>
    </ol>
  </div>
<% end %>

<div class="container main">
  <div class="row">
    <div id="main_alerts" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-controller="stage5Ctrl" data-errorgettingoutcomes="<%= t('.error_getting_outcomes') %>" data-errorgettingasks="<%= t('.error_getting_asks') %>" data-errorgettingactivities="<%= t('.error_getting_activities') %>" data-errorupdatingactivity="<%= t('.error_updating_activity') %>" data-errorcreatingactivity="<%= t('.error_creating_activity') %>" data-confirmdeleteactivity="<%= t('.confirm_delete_activity') %>">
      <div class="alert" role="alert" ng-class="messages.response?'alert-success':'alert-danger'" ng-if="messages.message">
        <button ng-click="dismiss_modal()" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{ messages.message }}
      </div>

      <div role="tabpanel" class="tabpanel">
        <!-- nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#data" aria-controls="data" role="tab" data-toggle="tab"><%= t('.data_entry') %></a></li>
          <li role="presentation"><a href="#explanation" aria-controls="explanation" role="tab" data-toggle="tab"><%= t('.explanation_examples') %></a></li>
        </ul>
        <!-- tab panes -->
        <div class="tab-content">
          <div class="project-hero">
            <h2><%= t('.title') %></h2>
            <p><%= t('.title_description') %></p>
          </div>
          <div role="tabpanel" class="tab-pane active" id="data">
        <!-- actions -->
            <!-- activities -->
            <div class="panel panel-default">
              <div class="panel-heading">
                <button type="button" class="btn btn-primary pull-right" data-toggle="tooltip" data-placement="left" title="<%= t('.without_activities') %>"><i class="fa fa-info"></i></button>
                <button type="button" class="btn btn-warning pull-right" ng-click="add_edit_activity()"><i class="fa fa-plus-circle"></i> <%= t('.add_button') %></button>
                <h4 class="panel-title"><%= t('.subtitle1') %></h4>
              </div>
            </div>
            <div class="contenedor">
              <table class="table">
                <thead>
                  <tr>
                    <th><%= t('.activities') %></th>
                    <th><%= t('.description') %></th>
                    <th><%= t('.outcomes') %></th>
                    <th><%= t('.date') %></th>
                    <th><%= t('.progress') %></th>
                    <th class="text-center"><%= t('.completion') %></th>
                    <th class="text-right"><%= t('.actions') %></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="activity in activities">
                    <td>{{activity.title}}</td>
                    <td>{{activity.description}}</td>
                    <td>
                      <ul class="list-unstyled" ng-repeat="o in get_outcome_names(activity.outcome_ids, outcomes) track by $index">
                        <li>{{ o }}</li>
                      </ul>
                    </td>
                    <td nowrap>{{activity.scheduling | date: 'mediumDate' }}</td>
                    <td class="text-center">{{ activity.percentage }}%</td>
                    <td class="text-center">
                      <i class="fa fa-check" ng-if="activity.completion"></i>
                    </td>
                    <td class="text-right" nowrap>
                      <i class="fa fa-pencil-square-o" ng-click="add_edit_activity(activity)" title="Edit"></i>
                      <i class="fa fa-line-chart" ng-click="add_edit_indicator(activity)" title="Indicators"></i>
                      <a href="" id="activity_{{activity.id}}"></a><i class="fa fa-calendar" ng-if="activity.scheduling" ng-click="get_ical(activity)" title="iCal"></i>
                      <i class="fa fa-trash" ng-click="delete_activity(activity)" title="Delete"></i>
                  </tr>
                </tbody>
              </table>
              <%= render 'modal_activity' %>
              <%= render 'modal_indicator' %>
            </div>
            <!-- end of actions -->
            <div class="panel panel-default">
              <div class="panel-heading">
                <button type="button" class="btn btn-primary pull-right" data-toggle="tooltip" data-placement="left" title="<%= t('.subtitle2_explanation') %>"><i class="fa fa-info"></i></button>
                <a ng-click="get_full_calendar()" id="full_calendar" target="_self" class="btn btn-warning pull-right"><i class="fa fa-calendar"></i> <%= t('.download_as_ical') %></a>
                <h4 class="panel-title"><%= t('.subtitle2') %></h4>
              </div>
              <div class="panel-body">
                <tien-clndr class="clndr" tien-clndr-object="clndr" tien-clndr-events="events" tien-clndr-options="options">
                  <div class="row">
                    <div class="col-xs-12 col-md-6">
                      <div class="clndr-controls">
                        <div class="clndr-previous-button" ng-click="clndr.back()">
                          &lsaquo;
                        </div>
                        <div class="month">
                          {{month}}
                        </div>
                        <div class="clndr-next-button" ng-click="clndr.forward()">
                          &rsaquo;
                        </div>
                      </div>
                      <div class="clndr-grid">
                        <div class="days-of-the-week">
                          <div class="header-day" ng-repeat="day in daysOfTheWeek track by $index">
                            {{day}}
                          </div>
                        </div>
                        <div class="days">
                          <div class="{{day.classes}}" ng-repeat="day in days">
                            <div class="event-indicator" ng-show="day.events.length" ng-click="showEvents(day.events)">{{day.events.length}}</div>
                            {{day.day}}
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                      <ul class="list-unstyled" ng-repeat="day in days" ng-if="day.events.length">{{ day.day }}
                        <li ng-repeat="d in day.events">
                          <ul class="list-unstyled" ng-if="d.title">
                            <li>{{d.title}}</li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </div>
                </tien-clndr>
              </div>
            </div>
          </div>
          <!-- end of actions -->
          <div role="tabpanel" class="tab-pane" id="explanation">
            <div class="box">
              <%= render 'explanation_stage5' %>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="tips">
            tips
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
