<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @policy_solution.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @policy_solution.description %>
</p>

<p>
  <strong>Policy problem:</strong>
  <%= @policy_solution.policy_problem %>
</p>

<%= link_to 'Edit', edit_policy_solution_path(@policy_solution) %> |
<%= link_to 'Back', policy_solutions_path %>
