<div class="project-content">
  <div class="box">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2><%= t('.asks') %></h2>
      </div>
    </div>
    <!-- start asks kpis -->
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="well">
          <h3><%= @project.asks.count.presence || "0" %> <%= t('.asks') %></h3>
          <ul class="fa-ul">
            <li class="successful"><i class="fa-li fa fa-check-circle"></i><%= @successful_asks.presence %> <%= t('.successful_asks') %></li>
            <li class="neutral"><i class="fa-li fa fa-minus-circle"></i><%= @neutral_asks.presence %> <%= t('.neutral_asks') %></li>
            <li class="failed"><i class="fa-li fa fa-times-circle"></i><%= @failed_asks.presence %> <%= t('.failed_asks') %></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="well text-center">
          <h3><%= t('.completed_asks_rate') %></h3>
          <div class="c100 p<%= @rate_completed_asks %> big">
              <span><%= @rate_completed_asks %>%</span>
              <div class="slice">
                  <div class="bar"></div>
                  <div class="fill"></div>
              </div>
            </div>
            <div class="clearfix"></div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="well text-center">
          <h3><%= t('.success_rate') %></h3>
          <div class="c100 p<%= @rate_success_asks %> big">
              <span><%= @rate_success_asks %>%</span>
              <div class="slice">
                  <div class="bar"></div>
                  <div class="fill"></div>
              </div>
            </div>
            <div class="clearfix"></div>
        </div>
      </div>
    </div>
            <!-- start asks chart --> 
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="well">
          <h3><%= t('.state_of_asks_this_year') %></h3>
          <div class="ct-chart ct-perfect-fourth"></div>

          <script>
            function draw_graph() {
              var chart = new Chartist.Bar('.ct-chart', {
                labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun','Jul', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec'],
                series: [ <%= @success_asks_by_month %>, <%= @neutral_asks_by_month %>, <%= @fail_asks_by_month %> ]
              }, {
                stackBars: false,
                seriesBarDistance: 5,
                low: 0,
                height: '300px',
                fullWidth: true,
                axisY: {
                        labelInterpolationFnc: function(value) {
                          return value + '<%= t('.asks') %>'
                        },
                        onlyInteger: true,
                      }
              });

              chart.on('draw', function(data) {
                  if(data.type === 'bar') {
                    data.element.attr({
                      //style: 'stroke-width: 10px'
                    });
                  }
                  });
                }
          </script>

        </div>
      </div>
    </div>
            <!-- end asks chart --> 
    <!-- end asks kpis --> 
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <div class="well">
          <h3><%= t('.upcoming_activities') %></h3>
          <p><a href="" target="_self" ><%= t('.all_activities') %></a></p>
          <table class="table">
            <% if @upcoming_activities.size > 0 %>
            <tr>
              <th><%= t('.date') %></th>
              <th><%= t('.activity') %></th>
            </tr>
            <% end %>
            <% @upcoming_activities.first(10).each do |ac| %>
            <tr>
              <td><%= ac.start_date %></td>
              <td><%= ac.title %></td>
            </tr>
            <% end %>
          </table>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="alert alert-danger">
          <table class="indicator">
            <tr>
              <td><%= @overdue_activities %></td>
              <td><%= t('.overdue_activities') %></td>
            </tr>
          </table>
        </div>
        <div class="alert alert-warning">
          <table class="indicator">
            <tr>
              <td><%= @unfinished_activities %></td>
              <td><%= t('.unfinished_activities') %></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
    <!-- start outcomes kpis --> 
  <div class="box">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2><%= t('.interim_outcomes') %></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="well">
          <h3><%= @project.outcomes.size %> <%= t('.interim_outcomes') %></h3>
          <ul class="fa-ul">
            <li class="successful"><i class="fa-li fa fa-check-circle"></i><%= @outcomes_with_all_asks_completed.presence %> <%= t('.outcomes_with_all_asks_completed') %></li>
            <li class="neutral"><i class="fa-li fa fa-minus-circle"></i><%= @outcomes_without_asks.presence %> <%= t('.outcomes_without_asks') %></li>
            <li class="failed"><i class="fa-li fa fa-times-circle"></i><%= @outcomes_with_overdue_asks.presence %> <%= t('.outcomes_with_overdue_asks') %></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="well text-center">
          <h3><%= t('.rate_completed_outcomes') %></h3>
          <div class="c100 p<%= @rate_completed_outcomes %> big">
              <span><%= @rate_completed_outcomes %>%</span>
              <div class="slice">
                  <div class="bar"></div>
                  <div class="fill"></div>
              </div>
            </div>
            <div class="clearfix"></div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="well text-center">
          <h3><%= t('.rate_success_outcomes') %></h3>
          <div class="c100 p<%= @rate_success_outcomes %> big">
              <span><%= @rate_success_outcomes %>%</span>
              <div class="slice">
                  <div class="bar"></div>
                  <div class="fill"></div>
              </div>
            </div>
            <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
    <!-- end outcomes kpis --> 
    <!-- start objectives kpis --> 
  <div class="box">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2><%= t('.objectives') %></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="well">
          <h3><%= @objectives.count.presence || "0" %> <%= t('.objectives') %></h3>
          <ul class="fa-ul">
            <li class="neutral"><i class="fa-li fa fa-minus-circle"></i><%= @objectives_without_outcomes.presence %> <%= t('.objectives_without_interim_outcomes') %></li>
            <li class="failed"><i class="fa-li fa fa-times-circle"></i><%= @objectives_with_failed_outcomes.presence %> <%= t('.objectives_with_failed_outcomes') %></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="well text-center">
          <h3><%= t('.rate_completed_objectives') %></h3>
          <div class="c100 p<%= @rate_completed_objectives%> big">
              <span><%= @rate_completed_objectives %>%</span>
              <div class="slice">
                  <div class="bar"></div>
                  <div class="fill"></div>
              </div>
            </div>
            <div class="clearfix"></div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="well text-center">
          <h3><%= t('.rate_success_objectives') %></h3>
          <div class="c100 p<%= @rate_success_objectives %> big">
              <span><%= @rate_success_objectives %>%</span>
              <div class="slice">
                  <div class="bar"></div>
                  <div class="fill"></div>
              </div>
            </div>
            <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
    <!-- end objectives kpis -->
    <!-- end objectives kpis -->
</div>
