<%= simple_form_for(@project) do |f| %>
  <%= f.error_notification %>

    <%= f.input :title, placeholder: 'Enter a project name', input_html: { class: 'form-control' } %>
    <%= f.input :description, placeholder: 'Enter a project description', input_html: { class: 'form-control' } %>
    <div class="checkbox">
      <label>
        <% checked = '' %>
        <% if @project.public %>
            <% checked = ' checked="checked"' %>
        <% end %>
        <input class="boolean optional checkbox" id="project_public" name="project[public]" value="1" type="checkbox" <%= checked %>> Public project?
      </label>
    </div>

    <div class="form-actions">
        <%= f.button :submit, class: "btn-success" %>
        <%= link_to 'Cancel', projects_path %>
    </div>
<% end %>
