<script type="text/ng-template" id="objective-aside.html">
  <div class="modal-header">
    <h3 class="modal-title"><%= t('.objective') %></h3>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <!-- <label for="objective"><%= t('.objective') %></label> -->
      <textarea name="title" class="form-control" ng-model="current_objective.title" placeholder="<%= t('.objective_placeholder') %>"></textarea>
    </div>
    <div class="form-group">
      <label for="objective-type"><%= t('.objective_type') %></label>
      <select class="form-control" id="objective-type" ng-model="current_objective.objective_type">
        <option ng-repeat="obj_type in objective_types">{{obj_type}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="solution"><%= t('.select_solution') %></label>
      <p class="mini-explicacion"><%= t('.select_solution_placeholder') %></p>
      <select class="form-control" name="solution_ids" multiple="multiple" ng-multiple="true" ng-model="current_objective.solution_ids" ng-options="solution.id as solution.title for solution in solutions">
      </select>
    </div>
    <div class="form-group">
      <label>
        <input type="checkbox" ng-model="current_objective.prioritized" checked> <%= t('.prioritized').html_safe %>
      </label>
    </div>
    <div class="form-group">
      <label>
        <input type="checkbox" ng-model="current_objective.completion_mark" checked> <%= t('.completion_mark').html_safe %>
      </label>
    </div>
    <hr>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="save($event)" ng-class="{disabled: current_objective.title == ''}"><%= t('.save_button') %></button>
    <button class="btn btn-warning" ng-click="cancel($event)"><%= t('.cancel_button') %></button>
  </div>
</script>
