<script type="text/ng-template" id="objective-aside.html">
  <div class="modal-header">
    <h3 class="modal-title"><%= t('.objective') %></h3>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="solution"><%= t('.select_solution') %></label>
      <p class="mini-explicacion"><%= t('.select_solution_placeholder') %></p>
      <select class="form-control" name="solution_ids" multiple="multiple" ng-multiple="true" ng-model="current_objective.solution_ids" ng-options="solution.id as solution.title for solution in solutions">
      </select>
    </div>
    <div class="form-group">
      <label for="objective"><%= t('.objective') %></label>
      <textarea name="title" class="form-control" ng-model="current_objective.title" placeholder="<%= t('.objective_placeholder') %>"></textarea>
    </div>
    <div class="form-group">
      <label for="objective-type"><%= t('.objective_type') %></label>
      <select class="form-control" id="objective-type" ng-model="current_objective.objective_type">
        <option ng-repeat="obj_type in objective_types">{{obj_type}}</option>
      </select>
    </div>
    
    <div class="form-group">
      <label>
        <input type="checkbox" ng-model="current_objective.prioritized"> <%= t('.prioritized') %>
      </label>
    </div>
    <hr>
    <!-- key contribution -->
    <h4 class="mtb40"><%= t('.key_contribution') %></h4>
    <div class="row mb20">
      <div class="col-md-4">
        <%= t('.big_difference').html_safe %>
      </div>
      <div class="col-md-8">
        <div class="form-group">
          <label for="big-difference"><%= t('.score') %></label>
          <input type="number" class="form-control" id="big-difference-score" placeholder="<%= t('.score_placeholder') %>" min="1" max="3" ng-model="current_objective.big_difference_score">
        </div>
        <div class="form-group">
          <label for="big-difference-arguments"><%= t('.main_arguments') %></label>
          <textarea class="form-control" rows="3" id="big-difference-arguments" placeholder="<%= t('.main_arguments_placeholder') %>" ng-model="current_objective.big_difference_arguments"></textarea>
        </div>
      </div>
    </div>

    <div class="row mb20">
      <div class="col-md-4">
        <%= t('.multiplying_effect').html_safe %>
      </div>
      <div class="col-md-8">
        <div class="form-group">
          <label for="multiplying-effect"><%= t('.score') %></label>
          <input type="number" class="form-control" id="multiplying-effect" placeholder="<%= t('.score_placeholder') %>" min="1" max="3" ng-model="current_objective.multiplying_effect_score">
        </div>
        <div class="form-group">
          <label for="multiplying-effect-arguments"><%= t('.main_arguments') %></label>
          <textarea class="form-control" rows="3" id="multiplying-effect-arguments" placeholder="<%= t('.main_arguments_placeholder') %>" ng-model="current_objective.multiplying_effect_arguments"></textarea>
        </div>
      </div>
    </div>

    <div class="row mb20">
      <div class="col-md-4">
        <%= t('.catalytic').html_safe %>
      </div>
      <div class="col-md-8">
        <div class="form-group">
          <label for="catalytic"><%= t('.score') %></label>
          <input type="number" class="form-control" id="catalytic" placeholder="<%= t('.score_placeholder') %>" min="1" max="3" ng-model="current_objective.catalytic_score">
        </div>
        <div class="form-group">
          <label for="catalytic-arguments"><%= t('.main_arguments') %></label>
          <textarea class="form-control" rows="3" id="catalytic-arguments" placeholder="<%= t('.main_arguments_placeholder') %>" ng-model="current_objective.catalytic_arguments"></textarea>
        </div>
      </div>
    </div>
    <!-- end key contribution -->

    <!-- momentum -->
    <hr>
    <h4 class="mtb40"><%= t('.momentum') %></h4>
    <div class="row mb20">
      <div class="col-md-4">
        <%= t('.demand').html_safe %>
      </div>
      <div class="col-md-8">
        <div class="form-group">
          <label for="demand"><%= t('.score') %></label>
          <input type="number" class="form-control" id="demand" placeholder="<%= t('.score_placeholder') %>" min="1" max="3" ng-model="current_objective.demand_score">
        </div>
        <div class="form-group">
          <label for="demand-arguments"><%= t('.main_arguments') %></label>
          <textarea class="form-control" rows="3" id="demand-arguments" placeholder="<%= t('.main_arguments_placeholder') %>" ng-model="current_objective.demand_arguments"></textarea>
        </div>
      </div>
    </div>

    <div class="row mb20">
      <div class="col-md-4">
        <%= t('.hooks_processes').html_safe %>
      </div>
      <div class="col-md-8">
        <div class="form-group">
          <label for="hooks-processes"><%= t('.score') %></label>
          <input type="number" class="form-control" id="hooks-processes" placeholder="<%= t('.score_placeholder') %>" min="1" max="3" ng-model="current_objective.hooks_processes_score">
        </div>
        <div class="form-group">
          <label for="hooks-processes-arguments"><%= t('.main_arguments') %></label>
          <textarea class="form-control" rows="3" id="hooks-processes-arguments" placeholder="<%= t('.main_arguments_placeholder') %>" ng-model="current_objective.hooks_processes_arguments"></textarea>
        </div>
      </div>
    </div>

    <div class="row mb20">
      <div class="col-md-4">
        <%= t('.intuitive').html_safe %>
      </div>
      <div class="col-md-8">
        <div class="form-group">
          <label for="intuitive"><%= t('.score') %></label>
          <input type="number" class="form-control" id="intuitive" placeholder="<%= t('.score_placeholder') %>" min="1" max="3" ng-model="current_objective.intuitive_score">
        </div>
        <div class="form-group">
          <label for="intuitive-arguments"><%= t('.main_arguments') %></label>
          <textarea class="form-control" rows="3" id="intuitive-arguments" placeholder="<%= t('.main_arguments_placeholder') %>" ng-model="current_objective.intuitive_arguments"></textarea>
        </div>
      </div>
    </div>
    <!-- end momentum -->

    <!-- comparative advantage -->
    <hr>
    <h4 class="mtb40"><%= t('.comparative_advantage') %></h4>
    <div class="row mb20">
      <div class="col-md-4">
        <%= t('.alignment').html_safe %>
      </div>
      <div class="col-md-8">
        <div class="form-group">
          <label for="alignment"><%= t('.score') %></label>
          <input type="number" class="form-control" id="alignment" placeholder="<%= t('.score_placeholder') %>" min="1" max="3" ng-model="current_objective.alignment_score">
        </div>
        <div class="form-group">
          <label for="alignment-arguments"><%= t('.main_arguments') %></label>
          <textarea class="form-control" rows="3" id="alignment-arguments" placeholder="<%= t('.main_arguments_placeholder') %>" ng-model="current_objective.alignment_arguments"></textarea>
        </div>
      </div>
    </div>

    <div class="row mb20">
      <div class="col-md-4">
        <%= t('.added_value').html_safe %>
      </div>
      <div class="col-md-8">
        <div class="form-group">
          <label for="added-value"><%= t('.score') %></label>
          <input type="number" class="form-control" id="added-value" placeholder="<%= t('.score_placeholder') %>" min="1" max="3" ng-model="current_objective.added_value_score">
        </div>
        <div class="form-group">
          <label for="added-value-arguments"><%= t('.main_arguments') %></label>
          <textarea class="form-control" rows="3" id="added-value-arguments" placeholder="<%= t('.main_arguments_placeholder') %>" ng-model="current_objective.added_value_arguments"></textarea>
        </div>
      </div>
    </div>

    <div class="row mb20">
      <div class="col-md-4">
        <%= t('.loss_or_gain').html_safe %>
      </div>
      <div class="col-md-8">
        <div class="form-group">
          <label for="loss-or-gain"><%= t('.score') %></label>
          <input type="number" class="form-control" id="loss-or-gain" placeholder="<%= t('.score_placeholder') %>" min="1" max="3" ng-model="current_objective.loss_gain_score">
        </div>
        <div class="form-group">
          <label for="loss-or-gain-arguments"><%= t('.main_arguments') %></label>
          <textarea class="form-control" rows="3" id="loss-or-gain-arguments" placeholder="<%= t('.main_arguments_placeholder') %>" ng-model="current_objective.loss_gain_arguments"></textarea>
        </div>
      </div>
    </div>
    <!-- end comparative advantage -->
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="save($event)" ng-class="{disabled: current_objective.title == ''}"><%= t('.save_button') %></button>
    <button class="btn btn-warning" ng-click="cancel($event)"><%= t('.cancel_button') %></button>
  </div>
</script>