<div class="">
  <div class="">
    <div class="project-hero02">
      <h2><%= @project.title %></h2>
      <p><%= @project.description %></p>
    </div>
    <div class="project-content">
        <div>
          <!-- real problem -->
          <% if !@real_problem %>
            <p><%= t('.empty') %></p>
          <% else %>
            <div class="box">
              <button class="btn btn-warning pull-right" onclick="window.print()"><i class="fa fa-print"></i> Imprimir Resumen</button>
              <div class="label label-default">Problema Real</div>
              <h3><%= @real_problem.title.presence || t('.empty') %></h3>
              <p><%= @real_problem.description.presence || t('.empty') %></p>
              <ul>
                <li>
                  Focus area: <%= @real_problem.focus_area.presence || t('.empty') %>
                </li>
                <li>
                  Goal: <%= @real_problem.goal.presence || t('.empty') %>
                </li>
              </ul>
              </br>
            </div>
            <!-- policy problems -->
            <% if !@policy_problems.blank? %>
            <div class="box">
              <% @policy_problems.each_with_index do |policy, i| %>
                <div class="label label-default">Problema Político <%= i+1 %></div>
              <% if @policy_problems.nil? %>
                <p><%= t('.uncreated') %></p>
              <% elsif @policy_problems.count < 1 %>
                <p><%= t('.empty') %></p>
              <% else %>
                  <ol type="1">
                    <h4><li><%= policy.title %></li></h4>
                    <!-- solutions -->
                    <div>
                      <ul style="list-style-type:disc">
                        <% if @solutions.nil? %>
                          <p><%= t('.uncreated') %></p>
                        <% elsif @solutions.count < 1 %>
                          <b>Solutions</b>
                          <p><%= t('.empty') %></p>
                        <% else %>
                          <% policy.solutions.each_with_index do |solution, i| %>
                            <li><span class='blue'>sol<%= i+1 %>. </span><%= solution.title.presence || t('.empty') %></li>
                          <% end %>
                      </ul>
                      <% end %>
                    </div>
                  </ol>
                  <!-- end solutions -->
                  </br>
                <% end %>
              <% end %>
            </div>
            <% end %>
            <!-- end policy problems -->
          <% end %>
          <!-- end real problem -->
      </div>

      <% @objectives.each_with_index do |objective, i| %>
        <div class="box">
          <!-- objetives -->
          <% if @objectives.nil? %>
            <p></p>
          <% elsif @objectives.count < 1 %>
            <p></p>
          <% else %>
            <div class="label label-default">Objectivo <%= i+1 %></div>
            <% @objectives.each do |objective| %>
              <h3><%= objective.title.presence || t('.empty') %></h3>
              <p><%= objective.description.presence %></p>
              <ul style="list-style-type:disc">
                <li>Type: </b><%= objective.objective_type.presence || t('.empty') %></li>
              </ul>
              <!-- barriers -->
              <% if objective.barriers.nil? %>
                <p></p>
              <% else %>
                <% objective.barriers.each_with_index do |barrier, cnt_barrier| %>
                <div class="separator"></div>
                <h4>Barrier <%= cnt_barrier + 1 %>: </h4>
                  <ul style="list-style-type:disc">
                    <li><%= barrier %></li>
                  </ul>
                <% end %>
              <% end %>
              <!-- end barriers -->
              <!-- enabling factors -->
              <% if objective.enabling_factors.nil? %>
                <p></p>
              <% else %>
                <% objective.enabling_factors.each_with_index do |efactor, cnt_factor| %>
                  <div class="separator"></div>
                  <h4>Enabling factor <%= cnt_factor + 1 %>:</h4>
                  <ul style="list-style-type:disc">
                    <li><%= efactor %></li>
                  </ul>
                <% end %>
              <% end %>
              <!-- end enabling factors -->
              <!-- actors -->
              <div>
                <% if objective.actors.nil? %>
                  <p></p>
                <% elsif objective.actors.count < 1 %>
                  <p></p>
                <% else %>
                  <div class="separator"></div>
                  <h4>Actors</h4>
                    <% objective.actors.each_with_index do |actor, i| %>
                      <p class="blue">Actor <%= i+1 %>. <%= actor.name %></p>
                    <p><%= actor.description.presence || t('.empty') %></p>
                    <ul style="list-style-type:disc">
                      <li><b>Actor type: </b><%= actor.actor_type.presence || t('.empty') %></li>
                      <li><b>Support: </b><%= get_support actor.support.presence || t('.empty') %></li>
                      <li><b>Influence: </b><%= get_influence actor.influence.presence || t('.empty') %></li>
                    </ul>
                  <% end %>
                <% end %>
              </div>
              <!-- end actors -->
              <!-- outcomes -->
              <div>
                <% if objective.outcomes.nil? %>
                  <p></p>
                <% elsif objective.outcomes.count < 1 %>
                  <p></p>
                <% else %>
                  <div class="separator"></div>
                  <h4>Outcomes</h4>
                    <% objective.outcomes.each_with_index do |outcome, i| %>
                      <span class='blue'>Outcome <%= i+1 %>. </span><b><%= outcome.description.presence || t('.empty') %></b>
                    <ul style="list-style-type:disc">
                      <li>Outcome type: <%= outcome.outcome_type_id %></li>
                      <!-- <li>Actor type: <%= outcome.actor_type_id %></li> -->
                    </ul>
                  <% end %>
                <% end %>
              </div>
              <!-- end outcomes -->
              <!-- activity -->
              <div>
                <% if objective.activities.nil? %>
                  <p></p>
                <% elsif objective.activities.count < 1 %>
                  <p></p>
                <% else %>
                  <div class="separator"></div>
                  <h4>Activities</h4>
                  <% objective.activities.each_with_index do |activity, i| %>
                    <span class='blue'>Activity <%= i+1 %>. </span><b><%= activity.title.presence || t('.empty') %></b>
                    <p><%= activity.description.presence || t('.empty') %></p>
                  <% end %>
                <% end %>
              </div>
              <!-- end activity -->
              <!-- ask -->
              <div>
                <% if objective.asks.nil? %>
                  <p></p>
                <% elsif objective.asks.count < 1 %>
                  <p></p>
                <% else %>
                  <div class="separator"></div>
                  <h4>Asks</h4>
                  <% objective.asks.each_with_index do |ask, i| %>
                    <span class='blue'>Ask <%= i+1 %>. </span><b><%= ask.description.presence || t('.empty') %></b>
                    <ul style="list-style-type:disc">
                      <li>Related actor: <%= ask.actor.name %></li>
                      <li>Related objective: <%= get_objective_related ask.objective_id %></li>
                    </ul>
                  <% end %>
                <% end %>
              </div>
              <!-- end ask -->

            <% end %>
          <% end %>
        </div>
          <% end %>
          <!-- end objectives -->

    </div>
  </div>
</div>
