<div class="">
  <div class="">
    <div class="project-hero02">
      <h2><%= @project.title %></h2>
      <p><%= @project.description %></p>
    </div>
    <div class="project-content">
        <div>
          <!-- real problem -->
          <% if !@real_problem %>
            <p><%= t('.empty') %></p>
          <% else %>
            <div class="box">
              <button class="btn btn-warning pull-right" onclick="window.print()"><i class="fa fa-print"></i><%= t('.print') %></button>
              <div class="label label-default"><%= t('.real_problem') %></div>
              <h3><%= @real_problem.title.presence || t('.empty') %></h3>
              <p><%= @real_problem.description.presence || t('.empty') %></p>
              <ul>
                <li>
                  <%= t('.focus_area') %>: <%= @real_problem.focus_area.presence || t('.empty') %>
                </li>
                <li>
                  <%= t('.goal') %>: <%= @real_problem.goal.presence || t('.empty') %>
                </li>
              </ul>
              </br>
            </div>
            <!-- policy problems -->
            <% if !@policy_problems.blank? %>
            <div class="box">
              <% @policy_problems.each_with_index do |policy, i| %>
                <div class="label label-default"><%= t('.cause') %> <%= i+1 %></div>
              <% if @policy_problems.nil? %>
                <p><%= t('.uncreated') %></p>
              <% elsif @policy_problems.count < 1 %>
                <p><%= t('.empty') %></p>
              <% else %>
                  <ol type="1">
                    <h4><li><%= policy.title %></li></h4>
                    <!-- solutions -->
                    <div>
                      <ul style="list-style-type:disc">
                        <% if @solutions.nil? %>
                          <p><%= t('.uncreated') %></p>
                        <% elsif @solutions.count < 1 %>
                          <b><%= t('.solutions') %></b>
                          <p><%= t('.empty') %></p>
                        <% else %>
                          <% policy.solutions.each_with_index do |solution, i| %>
                            <li><span class='blue'><%= t('.solution') %><%= i+1 %>. </span><%= solution.title.presence || t('.empty') %></li>
                          <% end %>
                      </ul>
                      <% end %>
                    </div>
                  </ol>
                  <!-- end solutions -->
                  </br>
                <% end %>
              <% end %>
            </div>
            <% end %>
            <!-- end policy problems -->
          <% end %>
          <!-- end real problem -->
      </div>

      <% @objectives.each_with_index do |objective, i| %>
        <div class="box">
          <!-- objetives -->
          <% if @objectives.nil? %>
            <p></p>
          <% elsif @objectives.count < 1 %>
            <p></p>
          <% else %>
            <div class="label label-default"><%= t('.objective') %> <%= i+1 %></div>
            <% @objectives.each do |objective| %>
              <h3><%= objective.title.presence || t('.empty') %></h3>
              <p><%= objective.description.presence %></p>
              <ul style="list-style-type:disc">
                <li><%= t('.type') %>: </b><%= objective.objective_type.presence || t('.empty') %></li>
              </ul>
              <!-- barriers -->
              <% if objective.barriers.nil? %>
                <p></p>
              <% else %>
                <% objective.barriers.each_with_index do |barrier, cnt_barrier| %>
                <div class="separator"></div>
                <h4><%= t('.barriers') %> <%= cnt_barrier + 1 %>: </h4>
                  <ul style="list-style-type:disc">
                    <li><%= barrier %></li>
                  </ul>
                <% end %>
              <% end %>
              <!-- end barriers -->
              <!-- enabling factors -->
              <% if objective.enabling_factors.nil? %>
                <p></p>
              <% else %>
                <% objective.enabling_factors.each_with_index do |efactor, cnt_factor| %>
                  <div class="separator"></div>
                  <h4><%= t('.enabling_factors') %> <%= cnt_factor + 1 %>:</h4>
                  <ul style="list-style-type:disc">
                    <li><%= efactor %></li>
                  </ul>
                <% end %>
              <% end %>
              <!-- end enabling factors -->
              <!-- actors -->
              <div>
                <% if objective.actors.nil? %>
                  <p></p>
                <% elsif objective.actors.count < 1 %>
                  <p></p>
                <% else %>
                  <div class="separator"></div>
                  <h4><%= t('.actors') %></h4>
                    <% objective.actors.each_with_index do |actor, i| %>
                      <p><span class="blue"><%= t('.actor') %></span><b><%= i+1 %>. <%= actor.name %></b></p>
                    <p><%= actor.description.presence || t('.empty') %></p>
                    <ul style="list-style-type:disc">
                      <li><b><%= t('.actor_type') %>: </b><%= actor.actor_type.presence || t('.empty') %></li>
                      <li><b><%= t('.support') %>: </b><%= get_support actor.support.presence || t('.empty') %></li>
                      <li><b><%= t('.influence') %>: </b><%= get_influence actor.influence.presence || t('.empty') %></li>
                    </ul>
                  <% end %>
                <% end %>
              </div>
              <!-- end actors -->
              <!-- outcomes -->
              <div>
                <% if objective.outcomes.nil? %>
                  <p></p>
                <% elsif objective.outcomes.count < 1 %>
                  <p></p>
                <% else %>
                  <div class="separator"></div>
                  <h4><%= t('.outcomes') %></h4>
                    <% objective.outcomes.each_with_index do |outcome, i| %>
                      <span class='blue'><%= t('.outcome') %> <%= i+1 %>. </span><b><%= outcome.description.presence || t('.empty') %></b>
                    <ul style="list-style-type:disc">
                      <li><%= t('.outcome_type') %>: <%= outcome.outcome_type_id %></li>
                      <!-- <li>Actor type: <%= outcome.actor_type_id %></li> -->
                    </ul>
                  <% end %>
                <% end %>
              </div>
              <!-- end outcomes -->
              <!-- activity -->
              <div>
                <% if objective.activities.nil? %>
                  <p></p>
                <% elsif objective.activities.count < 1 %>
                  <p></p>
                <% else %>
                  <div class="separator"></div>
                  <h4><%= t('.activities') %></h4>
                  <% objective.activities.each_with_index do |activity, i| %>
                    <span class='blue'><%= t('.activity') %> <%= i+1 %>. </span><b><%= activity.title.presence || t('.empty') %></b>
                    <p><%= activity.description.presence || t('.empty') %></p>
                    <% if !activity.indicator.blank? %>
                    <ul>
                      <% if !activity.indicator.owner_name.blank? %><li><b><%= t('.owner_name') %>:</b> <%= activity.indicator.owner_name %></li><% end %>
                      <% if !activity.indicator.owner_role.blank? %><li><b><%= t('.owner_role') %>:</b> <%= activity.indicator.owner_role %></li><% end %>
                      <% if !activity.indicator.expected_results.blank? %><li><b><%= t('.expected_results') %>:</b> <%= activity.indicator.expected_results %></li><% end %>
                      <% if !activity.indicator.obtained_results.blank? %><li><b><%= t('.obtained_results') %>:</b> <%= activity.indicator.obtained_results %></li><% end %>
                      <% if !activity.indicator.settings.blank? %><li><b><%= t('.adjustments') %>:</b> <%= activity.indicator.settings %></li><% end %>
                      <% if !activity.indicator.percentage.blank? %><li><b><%= t('.percentage') %>:</b> <%= activity.indicator.percentage %> %</li><% end %>
                    </ul>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
              <!-- end activity -->
              <!-- ask -->
              <div>
                <% if objective.asks.nil? %>
                  <p></p>
                <% elsif objective.asks.count < 1 %>
                  <p></p>
                <% else %>
                  <div class="separator"></div>
                  <h4><%= t('.asks') %></h4>
                  <% objective.asks.each_with_index do |ask, i| %>
                    <span class='blue'><%= t('.ask') %> <%= i+1 %>. </span><b><%= ask.description.presence || t('.empty') %></b>
                    <ul style="list-style-type:disc">
                      <% ask.messages.each do |m| %>
                      <li>
                        <%= m.description %>
                        <p><%= t('.actors') %></p>
                        <ul>
                          <li><%= m.actor ? m.actor.name : ""%></li>
                        </ul>
                        <li><%= t('.related_objectives') %>: <%= get_objective_related ask.objective_id %></li>
                      </li>
                      <% end %>
                    </ul>
                  <% end %>
                <% end %>
              </div>
              <!-- end ask -->

            <% end %>
          <% end %>
        </div>
          <% end %>
          <!-- end objectives -->

    </div>
  </div>
</div>
