<div class="">
  <div class="">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title" title="Complete Stage"><a data-toggle="collapse" href="#overviewstage1" aria-expanded="false" aria-controls="collapseExample"><i class="<%= icon_class_stage 1 %>"></i> Stage 1: Articulate problems and policy solutions</a></h4>
      </div>

      <div class="collapse steps" id="overviewstage1">
        <table class="table">
          <!-- real problem -->
          <% if !@real_problem %>
            <p><%= t('.empty') %></p>
          <% else %>
            <div>
              <h1>Real problem</h1>
              <b>title: </b><%= @real_problem.title.presence || t('.empty') %>
              </br>
              <b>description: </b><%= @real_problem.description.presence || t('.empty') %>
              </br>
              <b>focus area: </b><%= @real_problem.focus_area.presence || t('.empty') %>
              </br>
              <b>goal: </b><%= @real_problem.goal.presence || t('.empty') %>
            </div>
            <!-- policy problems -->
            <div>
              <h2>Policy problems (<%= @policy_problems.count.presence || "" %>)</h2>
              <% if @policy_problems.nil? %>
                <p><%= t('.uncreated') %></p>
              <% elsif @policy_problems.count < 1 %>
                <p><%= t('.empty') %></p>
              <% else %>
                <% @policy_problems.each do |policy| %>
                  <b>title: </b><%= policy.title %>
                  <!-- solutions -->
                  <div>
                    <h3>Solutions (<%= policy.solutions.count.presence || "" %>)</h3>
                    <% if @solutions.nil? %>
                      <p><%= t('.uncreated') %></p>
                    <% elsif @solutions.count < 1 %>
                      <p><%= t('.empty') %></p>
                    <% else %>
                      <% policy.solutions.each do |solution| %>
                        <b>title: </b><%= solution.title.presence || t('.empty') %>
                        </br>
                      <% end %>
                    <% end %>
                  </div>
                  <!-- end solutions -->
                  </br>
                <% end %>
              <% end %>
            </div>
            <!-- end policy problems -->
          <% end %>
          <!-- end real problem -->
        </table>
      </div>
      </br>
      <div class="panel-heading">
        <h4 class="panel-title" title="Complete Stage"><a data-toggle="collapse" href="#overviewstage3" aria-expanded="false" aria-controls="collapseExample"><i class="<%= icon_class_stage 1 %>"></i> Stage 3: Set Goals</a></h4>
      </div>
      <div class="collapse steps" id="overviewstage3">
        <table class="table">
          <!-- objetives -->
          <h1>Objectives (<%= @objectives.count.presence || "" %>)</h1>
          <% if @objectives.nil? %>
            <p><%= t('.uncreated') %></p>
          <% elsif @objectives.count < 1 %>
            <p><%= t('.empty') %></p>
          <% else %>
            <% @objectives.each do |objective| %>
              <h2><b>title: </b><%= objective.title.presence || t('.empty') %></h2>
              <b>type: </b><%= objective.objective_type.presence || t('.empty') %>
              </br>
              <b>description: </b><%= objective.description.presence || t('.empty') %>
              </br>
              <!-- barriers -->
              <b>barriers: </b>
              <% if objective.barriers.nil? %>
                <p><%= t('.empty') %></p>
              <% else %>
                <% objective.barriers.each do |barrier| %>
                  <ul type="circle">
                    <li><%= barrier %></li>
                  </ul>
                <% end %>
              <% end %>
              <!-- end barriers -->
              <!-- enabling factors -->
              <b>enabling factors:</b>
              <% if objective.enabling_factors.nil? %>
                <p><%= t('.empty') %></p>
              <% else %>
                <% objective.enabling_factors.each do |efactor| %>
                  <ul type="circle">
                    <li><%= efactor %></li>
                  </ul>
                <% end %>
              <% end %>
              <!-- end enabling factors -->
              <!-- actors -->
              <div>
                <h3>Actors (<%= objective.actors.count.presence || "" %>)</h3>
                <% if objective.actors.nil? %>
                  <p><%= t('.uncreated') %></p>
                <% elsif objective.actors.count < 1 %>
                  <p><%= t('.empty') %></p>
                <% else %>
                  <% objective.actors.each do |actor| %>
                    <b>name: </b><%= actor.name %>
                    </br>
                    <b>description: </b><%= actor.description.presence || t('.empty') %>
                    </br>
                    <b>actor_type: </b><%= actor.actor_type.presence || t('.empty') %>
                    </br>
                    <b>support: </b><%= actor.support.presence || t('.empty') %>
                    </br>
                    <b>influence: </b><%= actor.influence.presence || t('.empty') %>
                    </br></br>
                  <% end %>
                <% end %>
              </div>
              <!-- end actors -->

              <!-- outcomes -->
              <div>
                <h3>Outcomes (<%= objective.outcomes.count.presence || "" %>)</h3>
                <% if objective.outcomes.nil? %>
                  <p><%= t('.uncreated') %></p>
                <% elsif objective.outcomes.count < 1 %>
                  <p><%= t('.empty') %></p>
                <% else %>
                  <% objective.outcomes.each do |outcome| %>
                    <b>description: </b><%= outcome.description.presence || t('.empty') %>
                    </br>
                    <b>outcome_type_id: </b><%= outcome.outcome_type_id %>
                    </br>
                    <b>actor_type_id: </b><%= outcome.actor_type_id %>
                    </br></br>
                  <% end %>
                <% end %>
              </div>
              <!-- end outcomes -->

              <!-- activity -->
              <div>
                <h3>Activities (<%= objective.activities.count.presence || "" %>)</h3>
                <% if objective.activities.nil? %>
                  <p><%= t('.uncreated') %></p>
                <% elsif objective.activities.count < 1 %>
                  <p><%= t('.empty') %></p>
                <% else %>
                  <% objective.activities.each do |activity| %>
                    <b>title: </b><%= activity.title.presence || t('.empty') %>
                    </br>
                    <b>description: </b><%= activity.description.presence || t('.empty') %>
                    </br></br>
                  <% end %>
                <% end %>
              </div>
              <!-- end activity -->

              <!-- ask -->
              <div>
                <h3>Asks (<%= objective.asks.count.presence || "" %>)</h3>
                <% if objective.asks.nil? %>
                  <p><%= t('.uncreated') %></p>
                <% elsif objective.asks.count < 1 %>
                  <p><%= t('.empty') %></p>
                <% else %>
                  <% objective.asks.each do |ask| %>
                    <b>description: </b><%= ask.description.presence || t('.empty') %>
                    </br>
                    <b>actor_id: </b><%= ask.actor_id %>
                    </br>
                    <b>objective_id: </b><%= ask.objective_id %>
                    </br></br>
                  <% end %>
                <% end %>
              </div>
              <!-- end ask -->

            <% end %>
          <% end %>
          <!-- end objectives -->
        </table>
      </div>

    </div>
  </div>
</div>
