<div class="">
  <div class="">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title" title="Complete Stage"><a data-toggle="collapse" href="#overviewstage1" aria-expanded="false" aria-controls="collapseExample"><i class="<%= icon_class_stage 1 %>"></i> Stage 1: Articulate problems and policy solutions</a></h4>
      </div>

      <div class="collapse steps" id="overviewstage1">
        <table class="table">
          <!-- real problem -->
          <% if !@real_problem %>
            <p><%= t('.empty') %></p>
          <% else %>
            <div>
              <h1>Real problem</h1>
              <b>title: </b><%= @real_problem.title %>
              </br>
              <b>description: </b><%= @real_problem.description %>
              </br>
              <b>focus area: </b><%= @real_problem.focus_area %>
              </br>
              <b>goal: </b><%= @real_problem.goal %>
            </div>
            <!-- policy problems -->
            <div>
              <% if @policy_problems.count < 1 %>
                <p><%= t('.empty') %></p>
              <% else %>
                <h2>Policy problems (<%= @policy_problems.count %>)</h2>
                <% @policy_problems.each do |policy| %>
                  <b>title: </b><%= policy.title %>
                  <!-- solutions -->
                  <div>
                    <% if @solutions.count < 1 %>
                      <p><%= t('.empty') %></p>
                    <% else %>
                      <h3>Solutions (<%= policy.solutions.count %>)</h3>
                      <% policy.solutions.each do |solution| %>
                        <b>title: </b><%= solution.title %>
                        </br>
                      <% end %>
                    <% end %>
                  </div>
                  <!-- end solutions -->
                  </br>
                <% end %>
              <% end %>
            </div>
            <!-- end policy problems -->
          <% end %>
          <!-- end real problem -->
        </table>
      </div>
      </br>
      <div class="panel-heading">
        <h4 class="panel-title" title="Complete Stage"><a data-toggle="collapse" href="#overviewstage3" aria-expanded="false" aria-controls="collapseExample"><i class="<%= icon_class_stage 1 %>"></i> Stage 3: Set Goals</a></h4>
      </div>
      <div class="collapse steps" id="overviewstage3">
        <table class="table">
          <!-- objetives -->
          <% if @objectives.count < 1 %>
            <p><%= t('.empty') %></p>
          <% else %>
            <h1>Objectives (<%= @objectives.count %>)</h1>
            <% @objectives.each do |objective| %>
              <h2><b>title: </b><%= objective.title %></h2>
              <b>type: </b><%= objective.objective_type.presence || t('.empty') %>
              </br>
              <b>description: </b><%= objective.description %>
              </br>
              <% if !objective.barriers.nil? %>
                <b>barriers: </b>
                <% objective.barriers.each do |barrier| %>
                  <ul type="circle">
                    <li><%= barrier %></li>
                  </ul>
                <% end %>
              <% end %>
              <% if !objective.enabling_factors.nil? %>
                <b>enabling factors:</b>
                <% objective.enabling_factors.each do |efactor| %>
                  <ul type="circle">
                    <li><%= efactor %></li>
                  </ul>
                <% end %>
              <% end %>
              <!-- actors -->
              <div>
                <h3>Actors (<%= objective.actors.count %>)</h3>
                <% if objective.actors.count < 1 %>
                  <p><%= t('.empty') %></p>
                <% else %>
                  <% objective.actors.each do |actor| %>
                    <b>name: </b><%= actor.name %>
                    </br>
                    <b>description: </b><%= actor.description %>
                    </br>
                    <b>actor_type: </b><%= actor.actor_type %>
                    </br>
                    <b>support: </b><%= actor.support %>
                    </br>
                    <b>influence: </b><%= actor.influence %>
                    </br></br>
                  <% end %>
                <% end %>
              </div>
              <!-- end actors -->

              <!-- outcomes -->
              <div>
                <h3>Outcomes (<%= objective.outcomes.count %>)</h3>
                <% if objective.outcomes.count < 1 %>
                  <p><%= t('.empty') %></p>
                <% else %>
                  <% objective.outcomes.each do |outcome| %>
                    <b>description: </b><%= outcome.description %>
                    </br>
                    <b>outcome_type_id: </b><%= outcome.outcome_type_id %>
                    </br>
                    <b>actor_type_id: </b><%= outcome.actor_type_id %>
                    </br></br>
                  <% end %>
                <% end %>
              </div>
              <!-- end outcomes -->

              <!-- activity -->
              <div>
                <h3>Activities (<%= objective.activities.count %>)</h3>
                <% if objective.activities.count < 1 %>
                  <p><%= t('.empty') %></p>
                <% else %>
                  <% objective.activities.each do |activity| %>
                    <b>title: </b><%= activity.title %>
                    </br>
                    <b>description: </b><%= activity.description %>
                    </br></br>
                  <% end %>
                <% end %>
              </div>
              <!-- end activity -->

              <!-- ask -->
              <div>
                <h3>Asks (<%= objective.asks.count %>)</h3>
                <% if objective.asks.count < 1 %>
                  <p><%= t('.empty') %></p>
                <% else %>
                  <% objective.asks.each do |ask| %>
                    <b>description: </b><%= ask.description %>
                    </br>
                    <b>actor_id: </b><%= ask.actor_id %>
                    </br>
                    <b>objective_id: </b><%= ask.objective_id %>
                    </br></br>
                  <% end %>
                <% end %>
              </div>
              <!-- end ask -->

            <% end %>
          <% end %>
          <!-- end objectives -->
        </table>
      </div>

    </div>
  </div>
</div>
