<% content_for :breadcrumb do %>
  <div class="breadcrumb_bg">
    <ol class="breadcrumb container">
      <li>
        <%= link_to t('.projects'), projects_path, target: "_self" %>
      </li>
      <li class="active"><%= truncate(@project.title, length: 30) %></li>
    </ol>
  </div>
<% end %>
<div role="tabpanel">
  <ul class="nav nav-tabs" role="tablist" data-step="1" data-intro="<%= t('.step_one') %>">
    <li role="presentation" class="active"><a href="#stages" aria-controls="stages" role="tab"><%= t('.stages') %></a></li>
    <li role="presentation"><a href="#overview" aria-controls="overview" role="tab"><%= t('.overview') %></a></li>
    <li role="presentation"><a href="#dashboard" aria-controls="dashboard" role="tab"><%= t('.dashboard') %></a></li>
    <li role="presentation"><a href="#documents" aria-controls="documents" role="tab"><%= t('.documents') %></a></li>
  </ul>

  <!-- tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="stages">
      <div class="">
        <div class="">
          <div class="project-hero02">
            <h2><%= @project.title %></h2>
            <p><%= @project.description %></p>
            <button class="btn btn-success" onclick="javascript:introJs().setOptions({exitOnOverlayClick: false}).start();">
              <i class="fa fa-map"></i> Guíame
            </button>
          </div>
          <h3 class="mb50">Etapa 1: Identificar el problema y los objetivos políticos a lograr</h3>
          <div class="panel panel-default" data-step="2" data-intro="<%= t('.step_two') %>">
            <div class="panel-heading">
              <h4 class="panel-title" title="<%= title_stage 1 %>"><i class="<%= icon_class_stage 1 %>"></i> <%= t('.stage1_title') %></h4>
            </div>
            <div id="stage1">
              <table class="table">
                  <tbody>
                    <!-- real problem -->
                    <tr title="<%= title_stage 1 %>">
                      <td class="text-center td-w-10p">
                        <i class="<%= icon_class @real_problem %>" data-step="3" data-intro="<%= t('.step_three') %>"></i>
                      </td>
                      <td>
                        <%= link_to link_text(:real_problem), stage1_project_path, target: "_self"  %>
                      </td>
                    </tr>
                    <!-- policy problems -->
                    <tr title="<%= title_stage 1 %>">
                      <td class="text-center td-w-10p">
                          <i class="<%= icon_class @policy_problems, @real_problem %>"></i>
                      </td>
                      <td>
                        <%= link_to link_text(:policy_problems), stage1_project_path(anchor: "policy-problems"), target: "_self" %>
                      </td>
                    </tr>
                    <!-- policy solutions -->
                    <tr title="<%= title_stage 1 %>">
                      <td class="text-center td-w-10p">
                        <i class="<%= icon_class @solutions, @policy_problems %>"></i>
                      </td>
                      <td>
                        <%= link_to link_text(:solutions), stage1_project_path(anchor: "policy-problems"), target: "_self" %>
                      </td>
                    </tr>
                  </tbody>
            </table>
            </div>
          </div>
        </div>
      </div>
      <div class="">
        <div class="">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title" title="<%= title_stage 2 %>"><i class="<%= icon_class_stage 2 %>"></i> <%= t('.stage2_title') %></h4>
            </div>
            <div id="stage2">
              <table class="table">
                <tbody>
                  <tr title="<%= title_stage 2 %>">
                    <td class="text-center td-w-10p"><i class="<%= icon_class @objectives, @solutions %>"></i></td>
                    <td>
                      <%= link_to link_text(:objectives), stage2_project_path, target: "_self" %>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <h3 class="mb50">Etapa 2 : El Plan para cada uno de sus Objetivos de política priorizados en detalle</h3>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title"><i class="<%= icon_class_stage 3 %>"></i> <%= t('.stage3_title') %></h4>
        </div>
          <% if @objectives.count < 1 %>
            <%= t('.stage3_without_objectives').html_safe %>
          <% else %>
            <% @objectives.each_with_index do |objective, i| %>
              <div class="panel-body">
                  <div class="panel panel-info">
                    <div class="panel-heading">
                      <table class="table_goals">
                      <tr title="Stage Uninitiated or Incomplete">
                        <td><%= t('.objective_cnt') %> <%= i + 1 %> / <%= objective.title %></td>
                      </tr>
                      </table>
                    </div>
                    <div id="goal-<%= objective.id %>">
                      <table class="table">
                        <tbody>
                          <tr title="<%= title_stage 3 %>">
                            <td class="text-center td-w-10p">
                              <i class="<%= icon_class objective.actors %>"></i>
                            </td>
                            <td><%= link_to "Comprender el proceso institucional de ciclos de toma de decisiones / Procesos Políticos", stage3_project_objective_path(@project, objective), target: "_self" %></td>
                          </tr>
                          <tr title="<%= title_stage 3 %>">
                            <td class="text-center td-w-10p">
                              <i class="<%= icon_class objective.actors %>"></i>
                            </td>
                            <td>
                              <%= link_to objective_link_text(objective, :actors), stage3_project_objective_path(@project, objective, anchor: "actors"), target: "_self" %>
                            </td>
                          </tr>
                          <tr title="<%= title_stage 3 %>">
                            <td class="text-center td-w-10p">
                              <i class="<%= icon_class objective.enabling_factors %>"></i>
                            </td>
                            <td>
                              <%= link_to objective_link_text(objective, :enabling_factors), stage3_project_objective_path(@project, objective, anchor: "factors-barriers"), target: "_self" %>
                            </td>
                          </tr>
                          <tr title="<%= title_stage 3 %>">
                            <td class="text-center td-w-10p">
                              <i class="<%= icon_class objective.outcomes %>"></i>
                            </td>
                            <td>
                              <%= link_to objective_link_text(objective, :outcomes), stage4_project_objective_path(@project, objective), target: "_self" %>
                            </td>
                          </tr>
<!--                           <tr title="You must complete the previous step">
                            <td class="text-center td-w-10p">
                              <i class="fa fa-lock"></i>
                            </td>
                            <td>
                              <a href="#">(Coming soon) Define theory of change</a>
                            </td>
                          </tr> -->
                          <tr title="<%= title_stage 3 %>">
                            <td class="text-center td-w-10p">
                              <i class="<%= icon_class objective.activities %>"></i>
                            </td>
                            <td>
                              <%= link_to objective_link_text(objective, :activities), stage5_project_objective_path(@project, objective), target: "_self" %>
                            </td>
                          </tr>
<!--                           <tr title="You must complete the previous step">
                            <td class="text-center td-w-10p">
                              <i class="fa fa-lock"></i>
                            </td>
                            <td>
                              <a href="#">(Coming soon) Develop messages</a>
                            </td>
                          </tr> -->
                        </tbody>
                      </table>
                    <% objective.outcomes.each_with_index do |outcome, i| %>
              <div class="panel-body">
                  <div class="panel panel-info">
                    <div class="panel-heading">
                      <table class="table_goal_outcomes">
                      <tr title="Stage Uninitiated or Incomplete">
                        <td><%= t('.outcome_cnt') %> <%= i + 1 %> / <%= outcome.description %></td>
                      </tr>
                      </table>
                    </div>
                    <div id="goal-outcome-<%= outcome.id %>">
                      <table class="table">
                        <tbody>
                          <tr title="<%= title_stage 3 %>">
                            <td class="text-center td-w-10p">
                              <i class="<%= icon_class objective.asks %>"></i>
                            </td>
                            <td>
                              <%= link_to outcome_link_text(outcome, :asks), stage6_project_objective_path(@project, objective), target: "_self" %>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                </div>
              </div>
              <% end %>  
                    </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>

    </div>
    <div role="tabpanel" class="tab-pane" id="dashboard">
      <div class="project-hero02">
        <h2><%= @project.title %></h2>
        <p><%= @project.description %></p>
      </div>
      <%= render "dashboard" %>
    </div>
    <div role="tabpanel" class="tab-pane" id="documents">
      <%= render "resources" %>
    </div>
    <div role="tabpanel" class="tab-pane" id="overview">
      <%= render "overview" %>
    </div>
  </div>
</div>

<script type="text/javascript">
$(function () {
    var tabName = window.location.hash;
    if( tabName ) {
      $('.nav-tabs a[href="' + tabName + '"]').tab('show');
      if( tabName == '#dashboard' )
        draw_graph()
    }

    $('.nav-tabs a').click(function (e) {
      e.preventDefault()
      $(this).tab('show')
      draw_graph()
    })
});
</script>
