<% content_for :breadcrumb do %>
  <div class="breadcrumb_bg">
    <ol class="breadcrumb container">
      <li>
        <%= link_to t('.projects'), projects_path, target: "_self" %>
      </li>
      <li><%= link_to truncate(@project.title, length: 30), @project, target: "_self" %></li>
      <li><%= t('.stage1') %></li>
    </ol>
  </div>
<% end %>

<div class="container main">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-controller="stage1Ctrl">
      <div class="alert" role="alert" ng-class="messages.response?'alert-success':'alert-danger'" ng-if="messages.message">
        <button ng-click="dismiss_modal()" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{ messages.message }}
      </div>

      <h2><%= t('.title') %></h2>
      <p><%= t('.description') %></p>
      <div role="tabpanel" class="tabpanel">
        <!-- nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#data" aria-controls="data" role="tab" data-toggle="tab"><%= t('.data_entry') %></a></li>
          <li role="presentation"><a href="#explanation" aria-controls="explanation" role="tab" data-toggle="tab"><%= t('.explanation_examples') %></a></li>
        </ul>
        <!-- tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="data">
            <div class="bg_grey" id='real-problem'>
              <!-- <button type="button" class="btn btn-warning pull-right">Edit</button> -->
              <button type="button" class="btn btn-primary pull-right" data-toggle="tooltip" data-placement="left" data-title="<%= t('.subtitle1_tooltip') %>"><i class="fa fa-info"></i></button>
              <button type="button" class="btn pull-right" ng-class="{'btn-warning': problem.id, 'btn-info': !problem.id}" ng-click="add_step_one(problem)">{{ btn_problem }}</button>
              <h4><i class="fa fa-circle"></i> <%= t('.subtitle1') %></h4>
            </div>
            <div class="contenedor">
              <p ng-if="!problem.id">
                <%= t('.subtitle1_explanation') %>
              </p>
              <span ng-if="problem.id">
                <p class="bold"><%= t('.problem') %></p>
                <p>{{ problem.title }}</p>
                <p class="bold"><%= t('.description') %></p>
                <p>{{ problem.description }}</p>
                <p class="bold"><%= t('.focus_area') %></p>
                <p>{{ problem.focus_area }}</p>
              </span>
              <%= render "real_problem_modal" %>
            </div>
            <div id="policy-problems">
              <div class="bg_grey" ng-if="problem.id">
                  <button type="button" class="btn btn-primary pull-right" data-toggle="tooltip" data-placement="left" data-title="<%= t('.subtitle2_tooltip') %>"><i class="fa fa-info"></i></button>
                  <button type="button" class="btn btn-warning pull-right" ng-click="add_edit_policy()"><i class="fa fa-plus-circle"></i> <%= t('.add_button') %></button>
                  <h4><i class="fa fa-circle"></i>  <%= t('.subtitle2') %></h4>
              </div>
            </div>
            <p ng-if="!policies">
              <%= t('.policies_text') %>
            </p>
            <div class="contenedor">
            <!-- policy solution -->
            <div class="panel panel-default objetives" ng-repeat="policy in policies">
              <div class="panel-heading">
                <button type="button" class="btn btn-warning pull-right" ng-click="add_edit_policy(policy.id)"><i class="fa fa-pencil"></i></button>
                <button type="button" class="btn btn-warning pull-right" ng-click="delete_policy(policy)"><i class="fa fa-trash"></i></button>
                <h4 class="panel-title"><a data-toggle="collapse" href="#objetive-{{policy.id}}" aria-expanded="false" aria-controls="collapseExample">{{ policy.title }}</a></h4>
              </div>
              <!-- policy solutions -->
              <div class="collapse in" id="objetive-{{policy.id}}">
                <button type="button" class="btn btn-warning pull-right" ng-click="add_edit_solution(policy.id)"><i class="fa fa-plus-circle"></i> <%= t('.add_button') %></button>
                <h4><%= t('.subtitle3') %> <span ng-if="policy.solutions"><i class="fa fa-info-circle" data-toggle="tooltip" data-placement="left" data-title="<%= t('.subtitle3_tooltip') %>"></i></span></h4>
                <p ng-if="policy.solutions.length == 0">
                  <%= t('.subtitle3_tooltip') %>
                </p>
                <table class="table">
                  <tbody>
                    <tr ng-repeat="solution in policy.solutions">
                      <td>{{ solution.title }}</td>
                      <td class="text-right">
                        <i class="fa fa-pencil-square-o" ng-click="add_edit_solution(policy.id, solution.id)"></i>
                        <i class="fa fa-trash" ng-click="delete_solution(problem.id, policy.id, solution)"></i>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- end of policy solutions -->
            </div>
            <!-- end of policy solution -->
            </div>
            <%= render 'policy_modal' %>
            <!-- solution modal -->
            <%= render 'solution_modal' %>
          </div>
          <div role="tabpanel" class="tab-pane" id="explanation">
            <%= render 'explanation' %>
          </div>
          <div role="tabpanel" class="tab-pane" id="explanation"><%= t('.workshop_tips') %></div>
        </div>
      </div>
    </div>
  </div>
</div>
