<%= javascript_include_tag "steps" %>
<%= javascript_include_tag "json2html.js" %>
<%= javascript_include_tag "jquery.json2html.js" %>

<div class="container">
    <!-- -->
    <%= render 'steps_breadcrumb' %>
    <!-- -->
    <form role="form">
        <!-- step 01 -->
        <%= render 'step_01' %>
        <!-- step 02 -->
        <%= render 'step_02' %>
        <!-- step 03 -->
        <%= render 'step_03' %>
        <!-- step 04 -->
        <%= render 'step_04' %>
    </form>
</div>

<script type="text/javascript">

</script>