<div class="stepwizard">
    <div class="stepwizard-row setup-panel">
        <div class="stepwizard-step">
            <a href="<%= step_path(:step1_1, rp_id: params[:rp_id]) %>" type="button" class="btn btn-circle btn-default">1</a>
            <p>Step 1 - Real world problem</p>
        </div>
        <div class="stepwizard-step">
            <a href="<%= step_path(:step1_2, rp_id: params[:rp_id]) %>" type="button" class="btn btn-default btn-circle">2</a>
            <p>Step 2 - Policy dimensions</p>
        </div>
        <div class="stepwizard-step">
            <a href="<%= step_path(:step1_3, rp_id: params[:rp_id]) %>" type="button" class="btn btn-default btn-circle btn-primary">3</a>
            <p>Step 3 - Policy solutions</p>
        </div>
    </div>
</div>
<div class="col-xs-12">
            <div class="col-md-12">
                <h3>Step 3 - Policy solutions</h3>
                <p>Describe the main policy solutions that would constitute an appropriate response</p>
                <div class="form-group">
                    <div role="tabpanel">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#explication3" aria-controls="home" role="tab" data-toggle="tab">Explication</a></li>
                            <li role="presentation"><a href="#data-entry3" aria-controls="profile" role="tab" data-toggle="tab">Data Entry</a></li>
                        </ul>
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="explication3">
                                    <h4>Description</h4>
                                    <p>What are the main policy solutions that would resolve the problems identified and that UNICEF would like to see adopted?</p>
                                    <hr>
                                    <h4>Example</h4>
                                    <p>Policy solutions:</p>
                                    <ul>
                                        <li>Social assistance decree modified to increase benefits</li>
                                        <li>Tailored employment policies in place for disadvantaged groups</li>
                                        <li>Unemployment subsidy extended for 6 months</li>
                                    </ul>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="data-entry3">
                                    <div class=row>
                                        <div class="col-md-6">
                                            <%= simple_form_for([@real_problem, @real_problem.policy_problems.first, Solution.new], html: {autocomplete: "off"}, url:  create_ww_real_problem_policy_problems_path(@real_problem) ) do |f| %>
                                              <%= f.association :policy_problem, as: :select, prompt: "Choose a Policy Dimension", input_html: { class: 'form-control' }, wrapper_html: { class: 'form-group' } %>
                                              <%= f.input :description, input_html: { class: 'form-control' } %>
                                              <%= f.button :submit, 'Save' %>
                                            <% end %>
                                            
                                            <hr>
                                            <table class="table table-bordered">
                                              <thead>
                                                <tr>
                                                  <th>Policy Dimensions</th>
                                                  <th>Policy Solution</th>
                                                  <th>Actions</th>
                                                </tr>
                                              </thead>
                                              <tbody>
                                                <% @real_problem.policy_problems.each do |pp| %>
                                                <tr>
                                                  <td><%= pp.title %></td>
                                                  <% pp.solutions.each do |s| %>
                                                    <td><% s.description %></td>
                                                    <td class="text-right actions">
                                                      <a href="#"><i class="fa fa-edit" title="Edit"></i></a>      
                                                      <a data-confirm="Are you sure you want to permanently delete this sandbox?" data-method="delete" href="#" rel="nofollow"><i class="fa fa-trash" title="Delete"></i></a>
                                                    </td>
                                                  <% end %>
                                                </tr>
                                                <% end %>
                                              </tbody>
                                            </table>
                                            <button class="btn btn-success" type="button" >Save</button> 
                                            <button class="btn btn-success nextBtn" type="button" >Save & Finish</button>
                                        </div>
                                        <div class="col-md-6">

                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>