<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @outcome.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @outcome.description %>
</p>

<p>
  <strong>Objective:</strong>
  <%= @outcome.objective %>
</p>

<%= link_to 'Edit', edit_objective_outcome_path(@objective, @outcome) %> |
<%= link_to 'Back', objective_path(@objective) %>
