<h1>Listing policy_problems</h1>
<h2><%= link_to @real_problem.title, real_problem_path(@real_problem) %></h2>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @policy_problems.each do |policy_problem| %>
      <tr>
        <td><%= policy_problem.title %></td>
        <td><%= policy_problem.description %></td>
        <td><%= link_to 'Show', real_problem_policy_problem_path(@real_problem, policy_problem) %></td>
        <td><%= link_to 'Edit', edit_real_problem_policy_problem_path(@real_problem, policy_problem) %></td>
        <td><%= link_to 'Destroy', real_problem_policy_problem_path(@real_problem, policy_problem), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Policy problem', new_real_problem_policy_problem_path(@real_problem) %>
