<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @policy_problem.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @policy_problem.description %>
</p>

<p>
  <strong>Real problem:</strong>
  <%= link_to @policy_problem.real_problem.title, real_problem_path(@real_problem) %>
</p>

<%= link_to 'Edit', edit_real_problem_policy_problem_path(params[:real_problem_id], @policy_problem) %> |
<%= link_to 'Back', real_problem_path(@real_problem) %>