<p><%= t('.greeting')%> <%= @resource.email %>!</p>

<p><%= t('.sentence1')%> </p>

<p><%= link_to t('.link_text'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('.sentence2')%> </p>
<p><%= t('.sentence3')%> </p>
