<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @activity.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @activity.description %>
</p>

<p>
  <strong>Outcomes:</strong>
  <ul>
    <% @activity.outcomes.each do |outcome| %>
      <li><%= outcome.title %></li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Asks:</strong>
  <table>
    <thead>
      <th>Title</th>
    </thead>
    <tbody>
      <% @activity.asks.each do |ask| %>
        <tr>
          <td><%= ask.title %></td>
          <td><%= link_to "Show", [@project, @activity, ask] %></td>
          <td><%= link_to "Edit", edit_project_activity_ask_path(@project, @activity, ask) %></td>
          <td><%= link_to "Delete", [@project, @activity, ask], method: :delete, data: {confirm: 'Are you sure?'} %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to "New Ask", new_project_activity_ask_path(@project, @activity) %>
</p>

<%= link_to 'Edit', edit_project_activity_path(@project, @activity) %> |
<%= link_to 'Back', project_activities_path(@project) %>
