<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @other_name.name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @other_name.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @other_name.end_date %>
</p>

<p>
  <strong>Note:</strong>
  <%= @other_name.note %>
</p>

<%= link_to 'Edit', edit_other_name_path(@other_name) %> |
<%= link_to 'Back', other_names_path %>
