<h3>Sign Up</h3>
<%= form_for(:user, :url => registration_path(:user)) do |f| %>
  <%= f.error_notification %>
  <div class="form-group">
    <label for="user_email">Email</label>
    <%= f.text_field :email, class: 'form-control' %>
  </div>
  <div class="form-group">
    <label for="user_password">Password <span>(8 characters minimum)</span></label>
    <%= f.password_field :password, class: 'form-control' %>
  </div>
  <div class="form-group">
    <label for="user_password_confirmation">Password Confirmation</label>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
  </div>
  <%= f.submit 'Sign up', class: 'btn btn-default' %>
<% end %>
