<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Wizard" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Vizard Rails" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <script src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <% if( user_signed_in? ) %>
          <a class="company-logo" href="/">Wizard</a><span class="tagline">beta</span>
          <ul class="nav navbar-nav">
            <li><a href="/sandboxes">Sandboxs</a></li>
            <li><a href="#">Templates</a></li>
            <li><a href="#">Tutorials</a></li>
          </ul>
          <ul class="nav navbar-right top-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Bienvenido, <%= current_user.email %> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li>
                  <a href="/users/edit">My Account</a>
                </li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
                </li>
              </ul>
            </li>
          </ul>
          <% else %>
          <div class="pt15">
          <a class="company-logo" href="#">Wizard</a><span class="tagline">beta</span></div>
            <div class="nav pull-right">
              <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              Sign in <span class="caret"></span>
              </button>
                <ul class="dropdown-menu" style="padding: 15px; right: 0; left: initial;" role="menu">
                  <form method="post" action="/users/sign_in" accept-charset="UTF-8">
                    <div style="display:none"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="ON2V8XPajVLj0IlToPxGL0jFmBhLA8U6ESrPk+AW0VQ="></div>
                    <input style="margin-bottom: 15px;" type="email" placeholder="Email" id="user_email" name="user[email]"><br>
                    <input style="margin-bottom: 15px;" type="password" placeholder="Password" id="user_password" name="user[password]">
                    <p><input style="float: left; margin-right: 10px;" type="checkbox" name="user[remember_me]" id="user_remember_me" value="1">Remember me</p>
                    <input class="btn btn-primary btn-block" type="submit" id="sign-in" value="Sign In">
                  </form>
                </ul>
          </div>
      </div>
            </div>
      </div>
      <!--/.nav-collapse -->
          <% end %>
          <div class="container">
              <div class="clearfix toolbarName">
              </div>
          </div>
        </div>
      </nav>
    </header>

<% if( !user_signed_in? ) %>
    <div class="row banner">
      <div class="container">
        <div class="col-md-6 mtb40">
          <h2>What is Sandbox?</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis congue purus. Aenean pharetra arcu nibh, non aliquam leo laoreet sit amet.</p>
        </div>
        <div class="col-md-4 col-md-offset-2 bg-info mtb40">
          <h3>Sign Up</h3>
            <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
              <% flash.each do |name, msg| %>
                <%= content_tag :div, msg, class: 'error' if msg.is_a?(String) %>
              <% end %>
              <div class="form-group">
                <%= f.label :email %>
                <%= f.email_field :email, required: true, class: "form-control" %>
              </div>
              <div class="form-group">
                <%= f.label :password %><br />
                <%= f.password_field :password, required: true, class: "form-control" %>
              </div>
              <div class="form-group">
                <%= f.label :password_confirmation %><br />
                <%= f.password_field :password_confirmation, required: true, class: "form-control" %>
              </div>
              <div>
                <%= f.submit "Sign up", class: "btn btn-success" %> <%= render "devise/shared/links" %>
              </div>
            <% end %>
        </div>
      </div>
    </div>
<% end %>
    <div role="main" class="container FullPage">
      <%= yield %>
    </div>
    <footer>
      <div class="row">
        <div class="container mtb40">
          <div class="col-md-8">
            <h3 class="mb20">Developed by</h3>
            <a href="http://www.unicef.org/" target="_blank" alt="UNICEF Website"><%= image_tag "UNICEF.png" %></a><a href="http://ciudadanointeligente.org/" target="_blank" alt="Fundación Ciudadano Inteligente Website"><%= image_tag "FCI.png" %></a> 
          </div>
          <div class="col-md-4">
            <h3 class="mb20">Contact</h3>
            <p><i class="fa fa-phone"></i> +56 2 2419 2770</p>
            <p><i class="fa fa-envelope"></i> <a href="#">Contacto Prensa</a></p>
            <p><i class="fa fa-map-marker"></i>Holanda 895, Providencia</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>