<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Wizard" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Vizard Rails" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-inverse navbar-fixed-top clearfix">
        <div class="container">
          <% if( user_signed_in? ) %>
          <a class="company-logo" href="/sandboxes">Wizard</a><span class="tagline">beta</span>
          <ul class="nav navbar-right top-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Bienvenido, <%= current_user.email %> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li>
                  <a href="/sandboxes"><i class="fa fa-fw fa-inbox"></i> Sandboxes</a>
                </li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
                </li>
              </ul>
            </li>
          </ul>
          <% else %>
          <a class="company-logo" href="/">Wizard</a><span class="tagline">beta</span>
          <% end %>
          <div class="container">
              <div class="clearfix toolbarName">
              </div>
          </div>
        </div>
      </nav>
    </header>

<% if( !user_signed_in? ) %>
    <div class="row banner">
      <div class="container">
        <div class="col-md-6 mtb40">
          <h2>What is Sandbox?</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis congue purus. Aenean pharetra arcu nibh, non aliquam leo laoreet sit amet.</p>
        </div>
      </div>
    </div>
<% end %>
    <div role="main" class="container FullPage">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </div>
    <footer>
      <div class="row">
        <div class="container mtb40">
          <div class="col-md-8">
            <h3 class="mb20">Developed by</h3>
          </div>
          <div class="col-md-4">
            <h3 class="mb20">Contact</h3>
            <p><i class="fa fa-phone"></i> +56 2 2419 2770</p>
            <p><i class="fa fa-envelope"></i> <a href="#">Contacto Prensa</a></p>
            <p><i class="fa fa-map-marker"></i>Holanda 895, Providencia</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>